#wraper-login{:style=> "width:100%; margin:0px auto;"}
  #container-login{:style=> "width:100%; margin:20px auto; border:1px solid #b8b8b8; border-radius:10px; color:#80a52d;"}
    #header-login{:style=> "background:url(assets/background.png) repeat-x; width:100%; height:62px; margin:0px auto; border-top-left-radius:10px; border-top-right-radius:10px;"}
      .logo-login{:style=>"margin:0px auto; width:190px;"}
        %img{:src=>"/assets/login_logo.png", :style=>"margin:12px 0px;", :alt=> "Shared Earth"}
    .container-middel-login{:style=>"width:100%;"}  
      #connect_with{:style=>"background:url(assets/background_connect.png) repeat-x; width:100%; height:39px;"}
        %span{:style=>"float: left;line-height: 39px;padding-left: 20px; width: 90%; font-family:HelveticaNeue_Bold,Times,serif;"}
          CONNECT WITH
          #icons{:style=>"float:right;"}
            %a{:href=>"/auth/facebook"}
              %img{:src=>"/assets/facebook_icon_sharedearth.png"}
                %span.line
                  %a{:href=>"/auth/google_oauth2"}
                    %img{:src=>"/assets/google_icon_sharedearth.png"}
      #pad{:style=>"padding:20px"}
        - if @error
          %p= @error     
        = form_for User.new, :url => sessions_path, :id=>"new_user" do |f|
          = f.text_field :email, :placeholder => "Email" ,:style=>"width:89%; height:40px; border:1px solid #cfcfcf; border-radius:10px; background:#fbfbfa; padding:10px 10px ; color:#80a52d; margin:10px 0px ;"
          = f.password_field :password, :placeholder => "Password" ,:style=>"width:89%; height:40px; border:1px solid #cfcfcf; border-radius:10px; background:#fbfbfa; padding:10px 10px ; color:#80a52d; margin:10px 0px ;"        
          = f.submit "" , :style=>"position:relative; left:207px; bottom:-7px; background:url(assets/login.png); border:none; width:85px; height:33px;"
          =link_to "Register for an account!",new_user_path,:style=>"position:absolute; bottom:65px; left:40px; color:#80a52d;", :remote=>true 
        .text-login{:style=>"width:70%; float:left; margin:10px 0px; line-height:32px;"} 
          %a{:href=> "",:style=>"text-decoration:none; color:#80a52d;"}
          %a{:style=>"position:absolute; bottom:75px; color:#c3c5c0;"} Forgot password?
          %img{:src=>"/assets/icon_pencil.png", :style=>"position:absolute; left:25px; bottom:70px;"}
        
      
      %div{:style=>"clear:both;"}                               
