<div id="content">
		
	<div class="content-box-holder no-bg">
		<ul>
			<li class="content-box clearfix">
				<h2>Edit profile</h2>

				<%= form_for(@person, :html => { :multipart => true }) do |f| %>
					<%= render :partial => "shared/error_messages", :locals => { :model => @person } %>

				  <div class="field">
					<ul class="form-holder">
						<li>
				    		<%= f.label :name %>
						</li>
						<li>
				    		<%= f.text_field :name %>
						</li>
						<li>
							<div class="actions">
								<ul class="action-buttons-list">
									<li>
										<%= f.submit %>
									</li>
									<li>
										<%= link_to 'cancel', @person %>
									</li>	
								</ul>
							</div>
						</li>
					</ul>
				  </div>
				  
				<% end %>
			</li>
		</ul>
	</div><!-- /content-box-holder  -->
</div>
