<div id="item-profile-form-page">
	<div class="profile-form-page">
		<div id="content">

			<div class="content-box-holder no-bg">
				<ul>
					<li class="content-box clearfix">
				
						<%= image_tag @person.avatar(:large), :class => "thumb" %>
				
						<div class="inner-content rhs">
							<h2>Edit Profile</h2>
							<%= form_for(@person, :html => { :multipart => true }) do |f| %>
								<%= render :partial => "shared/error_messages", :locals => { :model => @person } %>

							  <div class="field">
								<ul class="form-holder">
									<li class="clearfix">
										<%= f.label "Your Name"  %>
									
							    		<%= f.text_field :name %>
									</li>
									<li class="clearfix">
										<%= f.label "Email"  %>
									
							    		<%= f.text_field :email %>
									</li>
									<li class="clearfix">
										<%= f.label "Location"  %>
									
							    		<%= f.text_field :location, {:class=>"text-input", :maxlength=>"50"} %>
									</li>
									<li class="clearfix">
										<%= f.label "About me"  %>
									
							    		<%= f.text_area :description, {:class=>"text-input", :rows=>"5", :maxlength=>"400"} %>
									</li>
																	<li class="clearfix">
										<div class="actions">
											<ul class="action-buttons-list">
												<li>
													<%= f.submit 'Save' %>
												</li>
												<li>
													<%= link_to 'cancel', 
	                                      { :controller => "people", 
	                                        :action => "cancel",
	                                        :id => @person.id } %> 
												</li>	
											</ul>
										</div>
									</li>
								</ul>
							  </div>
						 <% end %>
					
						</div><!--	/inner-content	-->
					</li>
				</ul>

			</div><!-- /content-box-holder  -->

		</div><!-- /content -->
	
		<div id="sidebar">

			<%= render :partial => "shared/trust_profile", :locals => { :person => @person, :name => false } %>

			<%= render :partial => "shared/latest_activity_person", :locals => { :person => @person } %>
	
		</div><!-- sidebar -->
	</div><!-- /profile-form-page -->
</div><!-- /item-profile-form-page -->
