#community-page.clearfix
	#sidebar-left
		-if params[:type].nil?
			= image_tag("your_network.png", :class => "thumb", :alt => "Your Network")

		-elsif trusted_network
			= image_tag("trusted_icon_yourself.png", :class => "thumb", :alt => "Trusted Network")

		%ul
			%li.all
				= link_to 'Your Network', my_network_person_path(current_user.person)
			%li.trusted
				= link_to 'Trusted Network', my_network_person_path(current_user.person, :type => 'trusted')


	#content
		.content-box-holder.no-bg
			%ul
				%li.content-box.clearfix
					.inner-content
						%h2
							-if params[:type].nil? 
								Your Network 
							-elsif trusted_network
								Trusted Network

						%p.description
							-if params[:type].nil?
								The people from your trusted network, communities and villages.
								=link_to "Find the others", connect_path, :class => "trusted"
							-elsif trusted_network
								The family, friends and people you trust unreservedly, and share willingly with.
								%br
								=link_to "Find the others", connect_path, :class => "trusted"

			= render "items/item_list"

	#sidebar
		-title = trusted_network ? 'Trusted Network Activity' : 'Your Network Activity'
		= render :partial => "shared/news_feed_person", :locals => { :events => @events, :title => title