<div id="community-page" class="clearfix">
			
	<div id="sidebar-left">
		 <% if params[:type].nil? -%>
		    <%= image_tag("your_network.png", :class => "thumb", :alt => "Your Network")  %> <!-- Your Network image -->
		  <% elsif trusted_network-%>
		  <%= image_tag("trusted_icon_yourself.png", :class => "thumb", :alt => "Trusted Network")  %> <!-- Trusted Network picture -->
		  <% end -%>
		<ul>
			<li class="all <%= 'selected' if params[:type].nil? %>">
				<%= link_to 'Your Network', my_network_person_path(current_user.person) %>
			</li>
			<li class="trusted <%= 'selected' if trusted_network %>">
			  <%= link_to 'Trusted Network', my_network_person_path(current_user.person, :type => 'trusted') %>
			</li>
			<!--
			<li class="extend">
				<a href="#">Extended network</a>
			</li>
			
			<li class="separator">
				&nbsp;
			</li>
			<li class="community">
				<a href="#">Evolver Sydney</a>
			</li>
			<li class="community">
				<a href="#">Sydney Java Community</a>
			</li>
			<li class="village">
				<a href="#">Sydney</a>
			</li>
			<li class="village">
				<a href="#">Newtown</a>
			</li>
			-->
		</ul>
		
	</div><!--	/sidebar-left	-->
	
	<div id="content">
		
		<div class="content-box-holder no-bg">
			<ul>
				<li class="content-box clearfix">
				 
					<div class="inner-content">
						<h2>
							<% if params[:type].nil? -%>
								Your Network 
							<% elsif trusted_network-%>
								Trusted Network
							<% end -%>
						</h2>

						<p class="description">
						<% if params[:type].nil? -%>
							The people from your trusted network, communities and villages. <a class="trusted" href=" /findtheothers">Find the others.</a>
						<% elsif trusted_network-%>
							The family, friends and people you trust unreservedly, and share willingly with.
							<br />
							<a class="trusted" href=" /findtheothers">Find the others.</a>
				       <% end -%>
						</p>

					</div>
					
				</li>
			</ul>


			<!--
				
			-->
      
				<h3>
					<strong>
					<% if params[:type] == 'trusted' -%>
						<%= link_to 'Items', my_network_person_path(current_user.person, :type => 'trusted'), :style => "color: #315859;" %>
					<% else -%>
				  		<%= link_to 'Items', my_network_person_path(current_user.person), :style => "color: #315859;" %>
					<% end -%>
          			<%= ' > ' + params[:filter_type] unless params[:filter_type].nil? %>
					</strong>
        		</h3>
					
			<% unless @items.count.zero? -%>
			  
					
					<% if @items.count < 8 || !params[:filter_type].nil? -%>
			<div class="items-expanded clearfix">

					<ul class="clearfix">
					<% @items.each do |item| %>
						<li class="item clearer">
							<div class="item-image-holder">
								<%= link_to image_tag(item.photo.url(:square), :class => "thumb"), item_path(item) %>
							</div>
							<div>
								<p>
									<%= link_to item.name, item_path(item), :class => "positive" %>&nbsp;&nbsp;&nbsp;										
									<%= link_to item.item_type, "#" %>&nbsp;&nbsp;&nbsp;
									<%= item.purpose? %>	
								</p>

								<ul class="action-list">
									<li class="person-name">
										<%= link_to_person(item.owner, :class => "positive capitalize") %>
									</li>
									<li>
										<%= link_to "view item", item_path(item) %>
									</li>				

									<%unless item.active_request_by?(current_user) || item.is_owner?(current_user.person)%>
									<li>
										<%= link_to "request", requests_path(:item_id => item.id), :method => :post %>
									</li>
									<% end -%>		

								</ul>


							</div>
						</li>
	              		<% end if !@items.nil?%>
					</ul>

			<% else %>	
			
			<div class="items-list clearfix">
					<ul class="clearfix">
					<% @items.map{|i| i.item_type.downcase}.uniq.each do |item_type| %>
						<li class="item">
							<p>						
								<%= link_to item_type, my_network_person_path(current_user.person, :filter_type => item_type, :type => params[:type]) %>
							</p>
						</li>
	        		<% end if !@items.nil?%>
					</ul>
					
	     <% end -%>
	     
				</div><!--	/items-list	-->
			<% end -%>

			
	
			<!--
			
			-->
	
			<!-- <div class="<%= (@items.count < 8) ? 'items-expanded' : 'items-list'%> clearfix">
									
						<h3>Items</h3>
						
						<ul class="clearfix">
						<% @items.each do |item| %>
							<li class="item clearer">
								<div class="item-image-holder">
									<%= link_to image_tag(item.photo.url(:square), :class => "thumb"), item_path(item) %>
								</div>
								<div>
									<p>
										<%= link_to item.name, item_path(item), :class => "positive" %>&nbsp;&nbsp;&nbsp;										
										<%= link_to item.item_type, "#" %>&nbsp;&nbsp;&nbsp;
										<%= item.purpose? %>	
									</p>
													
									<ul class="action-list">
										<li class="person-name">
											<%= link_to_person(item.owner, :class => "positive capitalize") %>
										</li>
										<li>
											<%= link_to "view item", item_path(item) %>
										</li>				
													
										<%unless item.active_request_by?(current_user) || item.is_owner?(current_user.person)%>
										<li>
											<%= link_to "request", requests_path(:item_id => item.id), :method => :post %>
										</li>
										<% end -%>		
													
									</ul>
													

								</div>
							</li>
		              		<% end if !@items.nil?%>
						</ul>

					</div> --><!--	/items-expanded	-->
					
		</div><!-- /content-box-holder  -->
		
	</div><!--	/content -->
	
	<div id="sidebar">
		<%#= render :partial => "shared/latest_activity_person", :locals => { :person => @person } %>
		<% title = trusted_network ? 'Trusted Network Activity' : 'Your Network Activity' %>
		<%= render :partial => "shared/news_feed_person", :locals => { :events => @events, :title => title } %>
	</div><!-- /sidebar	-->
	
</div><!-- /community-page -->
