

<div id="user-trusted-page">
	<div id="sidebar-left">
		<%= image_tag @person.avatar(:medium), :class => "thumb" %>
		<ul>
			<li class="all <%= params[:type].nil? ? "selected" : ""%>">
				<%= link_to 'All', network_person_path(@person) %>
			</li>
			<li class="all <%= (params[:type] == 'mutual') ? "selected" : ""%>">
				<%= link_to 'Mutual', network_person_path(@person, :type => 'mutual') %>
			</li>
			<!-- Temporarily removed
			<li class="extended <%= (params[:type] == 'extended') ? "selected" : ""%>">
				<%= link_to 'Extended', network_person_path(@person, :type => 'extended') %>
			</li>
			-->
			<li class="people <%= (params[:type] == 'other') ? "selected" : ""%>">
				<%= link_to 'Others', network_person_path(@person, :type => 'other') %>
			</li>
		</ul>
	
	</div><!--	/sidebar-left	-->

	<div id="content">
	
		<div class="content-box-holder no-bg">
		
			<h2><%= @person.name %> <%= image_tag("arrow-right.png", :class => "", :alt => "")  %> Trusted Network</h2>
			<ul>
				<li class="clearfix">
					<%= image_tag("ic-trusted-net-you-green.png", :class => "icons", :alt => "Trusted Profile")  %>
					<p>
						In your trusted network
					</p>
				</li>
			</ul>
			<% if !@mutual_friends.empty? %>
			<h3 class="default-title">In your mutual network</h3>
			
			<ul>
				<% @mutual_friends.each do |p| -%>
				<li class="people-holder clearfix">
					<%= image_tag p.avatar(:small), :class => "thumb" %>
					<p>
						<%= link_to p.name, person_path(p)  %>
					</p>
				</li>
				<% end-%>
				<li class="clearfix">
					<%= image_tag("ic-trusted-net-others-green.png", :class => "icons", :alt => "Trusted Profile")  %>
					<p>
						<a href="#">
							<%= trusted_network = @person.mutural_friends_count(current_user.person) %>
						</a>
						<%= (trusted_network == 1) ? " person " : " people " %> in your mutual network
					</p>
				</li>
			</ul>
			<% elsif mutual_friends %>
			   <h3>This user has no mutual friends with you</h3>
			<% end %>
			<!--
			<% unless @extended_network.empty? %>
			<h3 class="default-title">In <%= current_user.person == @person ? 'your' : 'their' %> extended network</h3>
			
			<ul>
				<% @extended_network.each do |p| -%>
				<li class="people-holder clearfix">
					<%= image_tag p.avatar(:small), :class => "thumb" %>
					<p>
						<%= p.name%>
					</p>
				</li>
				<% end-%>
				<li class="clearfix">
					<%= image_tag("ic-extended-network.png", :class => "icons", :alt => "Extended Network")  %>
					<p>
				  	<a href="#">
							<%= trusts_me = @person.trusts_me_count %>
						</a>
						<%= (trusts_me == 1) ? " person " : " people " %> from <%= current_user.person == @person ? 'your' : 'their' %> extended network
					</p>
				</li>
			</ul>
			<% end %>
			-->
			<% if !@other.empty? %>
			<h3 class="default-title">Others</h3>
			
			<ul>
				<% @other.each do |p| -%>
				<li class="people-holder clearfix">
					<%= image_tag p.avatar(:small), :class => "thumb" %>
					<p>
						<%= link_to p.name, person_path(p)  %>
					</p>
				</li>
				<% end-%>
				<li class="clearfix">
					<%= image_tag("ic-extended-network.png", :class => "icons", :alt => "Extended Network")  %>
					<p>
				  	<a href="#">
							<%= trusts_me = @person.trusts_me_count %>
						</a>
						<%= (trusts_me == 1) ? " other " : " others " %>
					</p>
				</li>
			</ul>
			<% elsif other_friends %>
			   <h3>This user has no other friends in network</h3>
			<% end %>
		<!--	
			<h3 class="default-title">Others</h3>
			
			<ul>
				<li class="people-holder clearfix">
					<%= image_tag("thumb-trusted-net-1.png", :class => "thumb", :alt => "")  %>
					<p>
						<a href="#">John Shearer</a>
					</p>
				</li>
				<li class="people-holder clearfix">
					<%= image_tag("thumb-trusted-net-2.png", :class => "thumb", :alt => "")  %>
					<p>
						<a href="#">Allen Nicholson</a>
					</p>
				</li>
				<li class="clearfix">
					<%= image_tag("ic-people.png", :class => "icons", :alt => "Others")  %>
					<p>
						<a href="#">2</a> others
					</p>
				</li>
			</ul>
			-->
			<% if params[:type].nil? %>
			<ul>
				<li class="clearfix">
					<%= image_tag("ic-trusted-network.png", :class => "icons", :alt => "Trusted Network")  %>
					<p>
						<a href="#"><%= trusts_me = @person.trusts_me_count %></a> <%= (trusts_me == 1) ? "person" : "people" %> in their trusted network
					</p>
				</li>
			</ul>
			<% end %>
			
		</div><!-- /content-box-holder  -->
	
	</div><!--	/content -->
	
</div><!--	/user-trusted-page -->
