!!! 5
%html
	%head
		%title= @page_title
		
		/ %link{:type=>"text/css", :href=>"less/profile.less", :rel=>"stylesheet/less"}

		/ %script{:type=>"text/javascript", :src=>"js/modernizr.js"}
		/ %script{:type=>"text/javascript", :src=>"js/less.js"}
		/ %script{:type=>"text/javascript", :src=>"js/jquery.js"}
		/ %script{:type=>"text/javascript", :src=>"js/jquery.ui.1.9.1.js"}

		/ %script{:type=>"text/javascript", :src=>"js/jquery.rating.js"}
		/ %script{:type=>"text/javascript", :src=>"js/jquery.screwdefaultbuttonsV2.min.js"}
		/ %script{:type=>"text/javascript", :src=>"js/functions.js"}
		
		/ %script{:type=>"text/javascript", :src=>"js/modal.js"}
	%body 
		
		%div.wrapper
			%div.container
				%section.community-feed.page-content.clearfix
					%section.community-page-header.clearfix
						%div.community-avatar
							= image_tag @person.avatar(:large), :class => "square", :alt => @person.name
						%div.community-content
							%h1 
								="#{@person.name}'s Reputation"
							%h2 A human being from planet earth
							%p 
								=@person.description	
						%hr.row
						%form.row
							%textarea Post to community discussion board
					%div.feed#tabs
						%ul.feed-tabs
							%li
								%a{:href=>"#tabs-1", :title=>"",:id=>""}>< My Activity		
							%li
								%a{:href=>"#tabs-2", :title=>"", :class=>"active",  :id=>""}>< Resources
							%li
								%a{:href=>"#tabs-3", :title=>"", :id=>""}>< Asks
						%div.feed-content.activity#tabs-1
							= render :partial => "shared/latest_activity_person", :locals => { :person => @person } 
							
						%div.feed-content.resources#tabs-2
							%div.third
								%ul
									%li
										%a{:href=>"#"} Lorem ipsum
									
							%div.third
								%ul
									%li
										%a{:href=>"#"} Lorem ipsum
									
							%div.third
								%ul
									%li
										%a{:href=>"#"} Lorem ipsum
									%li
										%a{:href=>"#"} Lorem ipsum
									
				%aside.dashboard-sidebar.sidebar
					%div.block.sidebar-block.reputation

						%header.user-header
							%div.user-avatar
								= image_tag @person.avatar(:large), :class => "square", :alt => @person.name
							%div.user-info
								%div.name 
									/ Kryptonite D-lock
								%div.location 
									= @person.location
						%hr
						%h1 reputation
						%ul.block-list.reputation-list
							=render :partial => "shared/reputation_profile", :locals => { :person => @person, :name => false }

					%div.block.sidebar-block.trust-status
						%div.heading
							%h1 trust profile
							%span.status.trusted
								=render :partial => "shared/trust_status", :locals => { :person => @person, :name => false}

						%ul.block-list.trust-list
							= render :partial => "shared/trust_profile", :locals => { :person => @person, :name => false}

					=render :partial => "shared/community_sidebar"