<div id="content">
		
	<div class="content-box-holder no-bg">
		<ul>
			<li class="content-box clearfix">
				
				<%= image_tag @person.avatar(:large), :class => "thumb" %>
				
				<div class="inner-content">
					<h2>
						<%= @person.name %>
						<span>
							<%= link_to "edit profile", edit_person_path(@person) if current_user.person == @person %>
						</span>
					</h2>
					
					<p class="status-holder-profile">
						<span>
							<%= link_to "7", "#", :class => "giftactions", :title => "Gift Actions"  %> gift actions
						</span>
						<span>
							<%= link_to "4", "#", :class => "people-helped", :title => "People Helped"  %> different people
						</span>
						<br />
							<%= link_to "100%", "#", :class => "feedback-rating", :title => "Feedback Rating"  %> positive feedback
					</p>
					
					<p>
						Previous experience working in IT (data 
						warehousing and business intelligence), but I 
						guess my heart lies with evolutionary activism 
						in the cultural and social space.
					</p>
				</div>
			</li>
			
			<li>
				<div class="items-list clearfix">
					<h2>Items</h2>
					<% unless @items.size.zero? %>
						<ul>
							<% @items.each do |item| %>
								<li class="item clearer">
									<%= link_to image_tag(item.photo.url(:square), :class => "thumb"), item_path(item) %>
									<div>
										<p>
											<%= link_to "gift", "#"  %>&nbsp;|&nbsp;
											<%= link_to item.name, item_path(item) %>&nbsp;|
											<!-- basti-question: what's this? -->
											2 person dome tent
										</p>
										
										
										<ul class="action-list">
											<li>
												<%= link_to "7", "#", :class => "giftactions", :title => "Gift Actions" %>
											</li>
											<li>
												<%= link_to "4", "#", :class => "people-helped", :title => "People Helped" %>
											</li>
											<li>
												<%= link_to "view item", item_path(item) %>
											</li>
											<li>
												<%= link_to "request", new_request_path(:item_id => item) %>
											</li>
											<li>
												<%= link_to "quick request", "#" %>
											</li>
										</ul>
										
									</div>
								</li>
							<% end %>
						</ul>
					<% else %>
						<p>This person has no items.</p>
					<% end %>
				</div>
			</li>
			<li>
				<!-- tomcanji-todo: style requests -->
				<div class="items-list clearfix">
					<h2>Unanswered requests</h2>
					<% unless @unanswered_requests.size.zero? %>
						<ul>
							<% @unanswered_requests.each do |req| %>
								<li class="item clearer">
									<%= link_to image_tag(item_request_photo(req, :size => :square), :class => "thumb"), request_path(req) %>
									<div>
										<ul class="clearfix">
											<li>
												<%= link_to_person(req.requester, :class => "capitalize") %>
												requested <%= link_to req.item.name, item_path(req.item) %>
												from <%= link_to_person(req.gifter, :downcase_you => true) %>
												<%= render :partial => "shared/item_request_sentence", :locals => { :req => req } %>
											</li>
										</ul>
										
										<ul class="action-list">
											<li>
												<%= time_ago_in_words req.created_at %> ago
											</li>
											<%= render :partial => "shared/item_request_actions_compact", :locals => { :req => req } %>
										</ul>
									</div>
								</li>
							<% end %>
						</ul>						
					<% else %>
						<p>There are no unanswered requests.</p>
					<% end %>
				</div>
			</li>
		</ul>
		
	</div><!-- /content-box-holder  -->
	
</div><!-- /content -->

<div id="sidebar" class="profile-holder">
	
	<div class="sidebar-box-holder">
		<%= image_tag("curve-top-sidebar-box.png")  %>
		
		<div class="sidebar-box-profile">
			<h2>
				<%= @person.first_name.possessive %> Trust Profile
				<% if @person != current_user.person %>
					<% if @person.requested_trusted_relationship?(current_user.person) %>
						<%= link_to "cancel request", people_network_request_path(@person.requested_trusted_relationship(current_user.person)), :method => :delete %>
					<% else %>
						<%= link_to "establish trusted relationship", people_network_requests_path(:trusted_person_id => @person), :method => :post %>
					<% end %>
				<% end %>
			</h2>
			<ul>
				<li class="clearfix">
					<%= image_tag("ic-untrusted-profile.png", :class => "icons", :alt => "Untrusted Profile")  %>
					<p>
						Not in your trusted network
					</p>
				</li>
				<li class="clearfix">
					<%= image_tag("ic-trusted-profile.png", :class => "icons", :alt => "Trusted Profile")  %>
					<p>
						<a href="#">8</a> people from your trusted network
					</p>
				</li>
				<li class="clearfix">
					<%= image_tag("ic-extended-network.png", :class => "icons", :alt => "Extended Network")  %>
					<p>
						<a href="#">19</a> people from your extended network
					</p>
					<p>
						<span>
							<a href="#">
								<%= image_tag("ic-village.png", :alt => "")  %>
							</a>
                            <a href="#">Chileans in Sydney</a> | <a href="#">Australia</a>
						</span>
                    </p>
				</li>
				
				<li class="no-icon clearfix">
					<p>
						<a href="#">43</a> people in their trusted network
					</p>
				</li>
			</ul>
		</div>
		<%= image_tag("curve-bottom-sidebar-box.png", :alt => "")  %>
		
	</div><!-- /sidebar-box-profile	-->
	
	
	
	<h2>Activity Profile</h2>
	
	
	<!-- basti-todo: activity profile -->
	<ul>
		<li class="sidebar-box clearfix">
			<div class="inner-content">
				<p>
					Andrea lent a modem to <a class="positive" href="#">Terry Waters</a>
				</p>

				<div class="action clearfix">
					<ul>
						<li>3 days ago</li>
						<li><a href="#">comments(0)</a></li>
					</ul>
				</div>
			</div>
		</li>
		<li class="sidebar-box clearfix">
			<div class="inner-content">
				<p>
					Andrea borrowed a witches costume from <a class="positive" href="#">Dan Brown</a>
				</p>

				<div class="action clearfix">
					<ul>
						<li>2 weeks ago</li>
						<li><a href="#">comments(0)</a></li>
					</ul>
				</div>
			</div>
		</li>
		<li class="sidebar-box clearfix">
			<div class="inner-content">
				<p>
					Andrea started sharing a BBQ
				</p>

				<div class="action clearfix">
					<ul>
						<li>3 weeks ago</li>
						<li><a href="#">comments(0)</a></li>
					</ul>
				</div>
			</div>
		</li>
	</ul>
	
</div><!-- sidebar -->
