<div id="profile-page">
	
	<div id="content">
		
		<div class="content-box-holder no-bg">
			<ul>
				<li class="content-box clearfix">
					<%= image_tag @person.avatar(:large), :class => "thumb" %>
				
					<div class="inner-content">
						<h2 class='trusted'>
							<%= @person.name %>
						</h2>

						<p class="status-holder-profile">
							<span>
								<%= @person.location %>
							</span>
						</p>
						<p class="status-holder-profile">
							<span>
								A human being from planet earth.
							</span>
						</p>
						
						<p class="description">
						  <%= @person.description %>
						</p>
					</div>
				</li>
			
				<li>
					<div class="clearfix">
						
						
						<% if @items.count < 8  || !params[:filter_type].nil?%>
						<div class="items-expanded clearfix">
						  <% if params[:filter_type].nil? -%>
						    <h3>
								<strong>Items</strong>
							</h3>
						  <% else -%>
						    <h3>
								<strong>
									<%= link_to 'Items', person_path(@person) %>
									<span>
										<%= ' > ' + params[:filter_type].to_s %> 
									</span>
								</strong>
							</h3>
								
						  <% end -%>
							
							<ul class="clearfix">
								<% @items.each do |item| %>
									<li class="item clearer">
										<div class="item-image-holder">
										<%= link_to image_tag(item.photo.url(:square), :class => "thumb"), item_path(item) %>
										</div>
										<div>
											<p>
											  <%= link_to item.name, item_path(item), :class => "positive" %>&nbsp;&nbsp;&nbsp;										
												<%= link_to item.item_type, "#" %>&nbsp;&nbsp;&nbsp;
												<%= item.purpose? %>	
											</p>
										
											<ul class="action-list">
												<li>
													<%= link_to item.owner.reputation_rating.gift_actions_count.to_s, "#", :class => "giftactions", :title => "Gift Actions" %>
												</li>
												<li>
													<%= link_to item.owner.reputation_rating.distinct_people_count.to_s, "#", :class => "people-helped", :title => "People Helped" %>
												</li>
												<li>
													<%= link_to "view item", item_path(item) %>
												</li>
												<%unless item.active_request_by?(current_user) || item.is_owner?(current_user.person)%>
												<li>
													<%= link_to "request", requests_path(:item_id => item.id), :method => :post %>
												</li>
												<% end -%>
											</ul>
										
										</div>
									</li>
								<% end %>
							</ul>
						</div>
						<% elsif @items.count >= 8 %>
						<div class="items-list clearfix">
							<h3>
								<strong>Items</strong>
							</h3>
					      <ul class="clearfix">
					      <% @items.map{|i| i.item_type.downcase}.uniq.each do |item_type| %>
						      <li class="item">
							      <p>						
								      <%= link_to item_type, person_path(@person, :filter_type => item_type) %>
							      </p>
						      </li>
	              <% end if !@items.nil?%>
					      </ul>

						<% else %>
							<p class="event-sentences">No items are currently being shared</p>
						<% end %>
					</div>
				</li>
				<li>
					<div class="items-list unanswered-requests clearfix">
						<div class="requests">
							<h3>Requests</h3>
							<% unless @unanswered_requests.size == 0 %>
								<ul class="clearfix">
									<% @unanswered_requests.each do |req| %>
										<li class="item clearer">
											<%= link_to image_tag(item_request_photo(req, :size => :square), :class => "thumb"), request_path(req) %>
											<div>
												<ul class="clearfix">
													<li>
														<p>
														  <!--
															<%= link_to_person(req.requester, :class => "capitalize") %>
															requested <%= link_to req.item.name, item_path(req.item) %>
															from <%= link_to_person(req.gifter, :downcase_you => true, :class => "capitalize positive") %>
															-->
															<%= render :partial => "shared/item_request_sentence", :locals => { :req => req, :dashboard => true } %>
														</p>
													</li>
												</ul>
										
												<ul class="action-list clearfix">
													<li>
														<%= time_ago_in_words req.created_at %> ago
													</li>
													<li>
														<%= render :partial => "shared/item_request_actions_compact", :locals => { :req => req } %>
													</li>
												</ul>
											</div>
											
											
										</li>
										
									<% end %>
								</ul>						
							<% else %>
								<p class="event-sentences">There are no unanswered requests</p>
							<% end %>
						</div><!-- /requests -->
					</div>
				</li>
				
			</ul>
		
		</div><!-- /content-box-holder  -->
	
	</div><!-- /content -->

	<div id="sidebar">

		<%= render :partial => "shared/trust_profile", :locals => { :person => @person, :name => false } %>

		<%= render :partial => "shared/latest_activity_person", :locals => { :person => @person } %>
	
	</div><!-- sidebar -->

</div>
<!-- /profile-page /-->
