<h1><%= image_tag @person.avatar(:large) %> <%= @person.name %></h1>

<%= link_to "Edit profile", edit_person_path(@person) if current_user.person == @person %>


<h2>Items</h2>
<% unless @items.size.zero? %>
	<ul>
		<% @items.each do |item| %>
			<li>
				<%= link_to image_tag(item.photo.url(:thumb)), item_path(item) %>
				<%= link_to item.name, item_path(item) %>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<%= link_to "Request this item", new_request_path(:item_id => item) %>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>This person has no items.</p>
<% end %>
