<div id="content" class="profile">
		
	<div class="content-box-holder no-bg">
		<ul>
			<li class="content-box clearfix">
				
				<%= image_tag @person.avatar(:large), :class => "thumb" %>
				
				<div class="inner-content">
					<h2>
						<%= @person.name %>
						<span>
							<%= link_to "edit profile", edit_person_path(@person) if current_user.person == @person %>
						</span>
					</h2>

					<p class="status-holder-profile">
						<span>
							<%= link_to "7", "#", :class => "giftactions", :title => "Gift Actions"  %> gift actions
						</span>
						<span>
							<%= link_to "4", "#", :class => "people-helped", :title => "People Helped"  %> different people
						</span>
						<br />
							<%= link_to "100%", "#", :class => "feedback-rating", :title => "Feedback Rating"  %> positive feedback
					</p>
					
					<p>
						Previous experience working in IT (data 
						warehousing and business intelligence), but I 
						guess my heart lies with evolutionary activism 
						in the cultural and social space.
					</p>
										
					
					
				</div>
			</li>
			
			<li>
				<div class="items-list clearfix">
					<h2>Items</h2>
					<% unless @items.size.zero? %>
						<ul>
							<% @items.each do |item| %>
								<li class="item clearer">
									<%= link_to image_tag(item.photo.url(:square), :class => "thumb"), item_path(item) %>
									<div>
										<p>
											<%= item.purpose? %>&nbsp;&nbsp;|&nbsp;											
											<%= link_to item.item_type, "#" %>&nbsp;&nbsp;|&nbsp;
											<%= link_to item.name, item_path(item), :class => "positive" %>
											<!-- basti-question: what's this? -->
											
										</p>
										
										
										<ul class="action-list">
											<li>
												<%= link_to "7", "#", :class => "giftactions", :title => "Gift Actions" %>
											</li>
											<li>
												<%= link_to "4", "#", :class => "people-helped", :title => "People Helped" %>
											</li>
											<li>
												<%= link_to "view item", item_path(item) %>
											</li>
											<li>
												<%= link_to "request", new_request_path(:item_id => item) %>
											</li>
											<li>
												<%= link_to "quick request", "#" %>
											</li>
										</ul>
										
									</div>
								</li>
							<% end %>
						</ul>
					<% else %>
						<p>This person has no items.</p>
					<% end %>
				</div>
			</li>
			<li>
				<div class="items-list unanswered-requests clearfix">
					<h2>Unanswered requests</h2>
					<% unless @unanswered_requests.size.zero? %>
						<ul>
							<% @unanswered_requests.each do |req| %>
								<li class="item clearer">
									<%= link_to image_tag(item_request_photo(req, :size => :square), :class => "thumb"), request_path(req) %>
									<div>
										<ul class="clearfix">
											<li>
												<p>
												  <!--
													<%= link_to_person(req.requester, :class => "capitalize") %>
													requested <%= link_to req.item.name, item_path(req.item) %>
													from <%= link_to_person(req.gifter, :downcase_you => true, :class => "capitalize positive") %>
													-->
													<%= render :partial => "shared/item_request_sentence", :locals => { :req => req } %>
												</p>
											</li>
										</ul>
										
										<ul class="action-list">
											<li>
												<%= time_ago_in_words req.created_at %> ago
											</li>
											<%= render :partial => "shared/item_request_actions_compact", :locals => { :req => req } %>
										</ul>
									</div>
								</li>
							<% end %>
						</ul>						
					<% else %>
						<p>There are no unanswered requests.</p>
					<% end %>
				</div>
			</li>
		</ul>
		
	</div><!-- /content-box-holder  -->
	
</div><!-- /content -->

<div id="sidebar" class="profile-holder">

	<%= render :partial => "shared/trust_profile", :locals => { :person => @person } %>

	<%= render :partial => "shared/latest_activity" %>
	
</div><!-- sidebar -->
