<% person = comment.user.person %>
<li class="<%= cycle :even, '' %> clearfix">
  <div class="time-ago">
    <%= time_ago_in_words(comment.created_at) %> ago
  </div>			

  <%= image_tag person.avatar(:square), :class => "thumb" %>

  <p>
    <strong><%= link_to person.name, person_path(person) %></strong>
    <%= comment.comment %>
  </p>
</li>
