<div class="completed-request">
	<div id="sidebar-left">
	
		<div class="feedback-holder">
			<%= image_tag @item_request.gifter.avatar(:large), :alt => "" %>
			<%#= image_tag('profile-narrow-1.png', :alt => "")  %>
			<% if @item_request.both_parties_lef_feedback? -%>
			  <%= feedback_box_colour(@item_request.feedback_from_gifter?) %>
			<% else -%>
			  <div class="feedback positive-feedback"></div>
			<% end -%>			
		</div>
	
	
		<div class="sidebar-box-holder">
			
			<%= image_tag('curve-top-sidebar-box-small.png', :alt => "")  %>
		
			<div class="sidebar-box">
			
				<h2><%= @item_request.gifter.name%></h2>
		
				<%= image_tag('devider-small.png', :class =>"devider", :alt => "")  %>
			
				<h3>Reputation</h3>
				<ul class="action-list clearfix">
				  <li>
				    <%= link_to @item_request.gifter.reputation_rating.gift_actions_count.to_s, "#", :class => "giftactions", :title => "Gift Actions" %>
			    </li>
			    <li>
				    <%= link_to @item_request.gifter.reputation_rating.distinct_people_count.to_s, "#", :class => "people-helped", :title => "People Helped" %>
			    </li>
			    <li>
			      <% feedback_rating = current_user.person.reputation_rating.feedback_rating?%>
				    <%= link_to feedback_rating.nil? ? "n/a" : (feedback_rating.to_s + "%"), "#", :class => "feedback-rating", :title => "Positive Feedback Rating" %>
			    </li>
				</ul>
				<%= image_tag('devider-small.png', :class =>"devider", :alt => "")  %>
				<h3>Trust Profile</h3>
			
				<ul class="trust-list clearfix">
				  <% if @item_request.gifter.trusted_network_size == 0%>
					<li class="clearfix">
						<a href="#" class="untrusted" title="Untrusted Profile"></a>
					</li>
					<% else %>
          <li class="clearfix">
						<a href="#" class="trusted" title="Trusted Profile"><%= @item_request.gifter.trusted_network_size %></a>
					</li>
					<% end %>
					<li class="clearfix">
						<a href="#" class="extended" title="Extended Network"><%= @item_request.gifter.extended_network_size %></a>
					</li>														
					<li class="no-icon clearfix">
						<a href="#">43</a>
					</li>
				</ul>
			
			
			</div>
			<%= image_tag('curve-bottom-sidebar-box-small.png', :alt => "")  %>
		</div>
	
	</div><!--	/sidebar-left	-->

	<div id="content">
	
		<h2><strong><%= @item_request.gifter.name%></strong> shared their <%= link_to @item_request.item.item_type, item_path(@item_request.item) %> with <%= link_to_person(@item_request.requester)%></h2>
		<h2><%= render :partial => "shared/item_request_sentence", :locals => { :req => @item_request, :dashboard => false } %></h2>

		<div class="item-holder">
  		<%= image_tag @item_request.item.photo.url(:small), :alt => "Item Completed Sample" %>
			<%#= image_tag('item-completed-sample.png', :alt => "Item Completed Sample")  %>
		</div>
  
   
		<div class="messages-holder">
		   
      <% if @item_request.feedbacks.size == 2 -%>
        <% @item_request.feedbacks.each do |feedback|%>
          <% if feedback.feedback == Feedback::FEEDBACK_NEUTRAL || feedback.feedback == Feedback::FEEDBACK_NEGATIVE %>
          <% person = Person.find_by_id(feedback.person_id)%>
          <p class="message bad">
				    <%= person.name %> <%= feedback.feedback_note %>
			    </p>
          <% end %>
        <% end %> 
	    <% end -%>
	
			<p>
				<a href="#">Dan Gooden</a> would like to borrow your 24 speed Giant 
				mountain bike on the 30th October
			</p>
		</div>
	
		<div class="content-box-holder">

			<ul>
				<li class="content-box clearfix">
				
					<div class="inner-content">
					
						<ul class="comment-list">
							<li>	
								<%= image_tag('thumb-sample-1.png', :alt => "Andrea Guerrini", :class => "thumb")  %>
								<p>
									<a href="#">Peter Smith</a> says: Hi!
									<span>2 minutes ago</span>
								</p>
							</li>
							<li class="no-bg">
								<div class="comment-box">
									<textarea rows="1" cols="13">Comment</textarea>
								</div>
							</li>

						</ul>

					</div>
				</li>
			</ul>

		</div>
	
		<!-- /.content-box-holder  --> 
	
	</div><!--	/content -->

	<div id="sidebar">
	
	
		<div class="feedback-holder">
		  <%= image_tag @item_request.requester.avatar(:large), :alt => "" %>
			<%#= image_tag('profile-narrow-2.png', :alt => "")  %>
			<% if @item_request.both_parties_lef_feedback? -%>
			  <%= feedback_box_colour(@item_request.feedback_from_requester?) %>
			<% else -%>
			  <div class="feedback negative-feedback"></div>
			<% end -%>		
		</div>
	
	
	
		<div class="sidebar-box-holder">
			<%= image_tag('curve-top-sidebar-box-small.png', :alt => "")  %>
			<div class="sidebar-box">
			
				<h2><%= @item_request.requester.name%></h2>
				
				<%= image_tag('devider-small.png', :class =>"devider", :alt => "")  %>
				
			
				<h3>Reputation</h3>
				<ul class="action-list clearfix">
					<li>
				    <%= link_to @item_request.requester.reputation_rating.gift_actions_count.to_s, "#", :class => "giftactions", :title => "Gift Actions" %>
			    </li>
			    <li>
				    <%= link_to @item_request.requester.reputation_rating.distinct_people_count.to_s, "#", :class => "people-helped", :title => "People Helped" %>
			    </li>
			    <li>
			      <% feedback_rating = current_user.person.reputation_rating.feedback_rating?%>
				    <%= link_to feedback_rating.nil? ? "n/a" : (feedback_rating.to_s + "%"), "#", :class => "feedback-rating ", :title => "Positive Feedback Rating" %>
			    </li>
				</ul>
				<%= image_tag('devider-small.png', :class =>"devider", :alt => "")  %>
				<h3>Trust Profile</h3>
			
				<ul class="trust-list clearfix">
				  <% if @item_request.gifter.trusted_network_size == 0%>
					<li class="clearfix">
						<a href="#" class="untrusted" title="Untrusted Profile"></a>
					</li>
					<% else %>
          <li class="clearfix">
						<a href="#" class="trusted" title="Trusted Profile"><%= @item_request.requester.trusted_network_size %></a>
					</li>
					<% end %>
					<li class="clearfix">
						<a href="#" class="extended" title="Extended Network"><%= @item_request.requester.extended_network_size %></a>
					</li>								
					<li class="no-icon clearfix">
						<a href="#">43</a>
					</li>
				</ul>
			
			
			</div>
			<%= image_tag('curve-bottom-sidebar-box-small.png', :alt => "")  %>
		</div>
	
	
	</div><!--	/sidebar  -->

</div><!--	/completed-request  -->

