<!-- NOT USED ANY MORE, READY FOR DELETION -->
<h1>Request "<%= @item_request.item.name %>" from <%= @item_request.gifter.name %></h1>

<%= form_for(@item_request, :url => requests_path) do |f| %>
	<%= f.hidden_field :item_id %>
	
	<%= render :partial => "shared/error_messages", :locals => { :model => @item_request } %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', :back %>
