<div id="request-page">

	<div id="content" class="item-request">
		
		<div class="content-box-holder no-bg">
			<ul>
				<li class="content-box clearfix">
				
					<%= image_tag @item_request.requester.avatar(:large), :class => "thumb" %>
				
					<div class="inner-content">
						<%= render :partial => "shared/item_request_sentence", :locals => { :req => @item_request, :dashboard => false } %>
				
						<%= image_tag @item_request.item.photo.url(:medium), :class => "pic-medium" if @item_request.item.photo? %>
					
						<ul class="action-buttons-list clearfix">
				
							<% if @item_request.status == ItemRequest::STATUS_REQUESTED %>

								<%= gifter_only(@item_request) do %>
									<li>
										<%= link_to "Accept", accept_request_path(@item_request, :html), :id => "accept_button", :method => :put, :class => "positive" %>
									</li>
									<li>
										<%= link_to "Reject", reject_request_path(@item_request, :html), :id => "reject_button", :method => :put %>
									</li>
						
								<% end %>

								<%= requester_only(@item_request) do %>
									<li>
										<%= link_to "Cancel", cancel_request_path(@item_request, :html), :id => "cancel_button", :method => :put %>
									</li>
								<% end %>

							<% elsif @item_request.status == ItemRequest::STATUS_ACCEPTED %>

								<%= requester_and_gifter_only(@item_request) do %>
									<li>
										<%= link_to "Cancel", cancel_request_path(@item_request, :html), :id => "cancel_button", :method => :put %>
									</li>
									<li>
										<%= link_to "Collected", collected_request_path(@item_request, :html), :id => "collected_button", :method => :put, :class => "positive" %>
									</li>
									<% if  @item_request.item.purpose != Item::PURPOSE_GIFT %>
									<li>
										<%= link_to "Complete", complete_request_path(@item_request, :html), :id => "complete_button", :method => :put, :class => "positive" %>
									</li>
									<% end %>
								<% end %>

							<% elsif @item_request.status == ItemRequest::STATUS_COLLECTED %>

								<%= requester_and_gifter_only(@item_request) do %>
									<li>
										<%= link_to "Complete", complete_request_path(@item_request, :html), :id => "complete_button", :method => :put, :class => "positive" %>
									</li>
								<% end %>

							<% end %>
						</ul>
				
						<% if @item_request.description %>
							<p><%= @item_request.description %></p>
						<% end %>
				
					</div>
				</li>
			</ul>
		</div><!-- /content-box-holder  -->
		
		<% if (@item_request.gifter?(current_user.person) || @item_request.requester?(current_user.person)) && !@item_request.completed? %>
 		
<!-- MAKE THIS MORE BEAUTIFUL and CLEAN -->
   <!-- comments begin -->
		<!--
		<div class="inner-content comments-holder">
					<ul class="comment-list">
		  			<% @comments.each do |c| -%>
							<%= render :partial => 'comments/comment', :locals => {:c => c} %>
						<% end -%>
						<%= render :partial => 'comments/new', :locals => { :commentable => @item_request } %>
					</ul>

				</div>-->
		
		<!-- comments end -->
		<!-- <% end %> -->

		<!-- Static discussion begin -->
		<li class="content-box clearfix">

			<div>

				<ul class="comment-list">
					<li class="no-bg">
						<div class="comment-box">
							<%commentable = @item_request%>
							<%=form_for(Comment.new, :format => :html) do |f|%>
		              <%=f.hidden_field :commentable_id, :value=> commentable.id, :class => 'new-comment-commentable-id' %>
		              <%= f.hidden_field :commentable_type, :value => commentable.class.name, :class => 'new-comment-commentable-type' %>
		              <div class="comment-box">
			              <%=f.text_area :comment, :rows => '1', :value => 'Discuss', :cols => '13', :id => :comment, :class => 'new-comment-text' %>
		              </div>
               		<%=f.submit "Add comment"%>
	             <%end%>
						</div>
					</li>
					<% @comments.each do |c| -%>
					<% person = c.user.person %>
							<li class="<%= cycle :even, '' %> clearfix">
						<div class="time-ago">
							<%= time_ago_in_words(c.created_at) %> ago
							<br />
							<%= c.created_at.to_date %>
						</div>			
						<%= image_tag person.avatar(:square), :class => "thumb" %>
						<p>
							<a href="#">
								<strong><%= link_to person.name, person_path(person) %></strong>
							</a>
							<%= c.comment %>
						</p>
					</li>
						<% end -%>
					
				</ul>

			</div>
		</li>
		
		<!-- Static discussion end -->

	
	</div><!-- /content -->

	<div id="sidebar">
	
		<%= render :partial => "shared/trust_profile", :locals => { :person => (@item_request.gifter?(current_user.person) ? @item_request.requester : @item_request.gifter), :name => true } %>
	
		<%= render :partial => "shared/latest_activity_person", :locals => { :person => (@item_request.gifter?(current_user.person) ? @item_request.requester : @item_request.gifter) } %>
	

		
	</div><!-- sidebar -->
	
</div><!--	/request page -->



