<div id="request-page">

	<div id="content" class="item-request">
		
		<div class="content-box-holder no-bg">
			<ul>
				<li class="content-box clearfix">
				
					<%= image_tag @item_request.requester.avatar(:large), :class => "thumb" %>
				
					<div class="inner-content">
						<%= render :partial => "shared/item_request_sentence", :locals => { :req => @item_request, :dashboard => false } %>
				
						<%= image_tag @item_request.item.photo.url(:medium), :class => "pic-medium" if @item_request.item.photo? %>
					
						<ul class="action-buttons-list clearfix" style="margin-top: 30px;">
				
							<% if @item_request.status == ItemRequest::STATUS_REQUESTED %>

								<%= gifter_only(@item_request) do %>
									<li>
										<%= link_to "Accept", accept_request_path(@item_request, :html), :id => "accept_button", :method => :put, :class => "positive" %>
									</li>
									<li>
										<%= link_to "Reject", reject_request_path(@item_request, :html), :id => "reject_button", :method => :put %>
									</li>
						
								<% end %>

								<%= requester_only(@item_request) do %>
									<li>
										<%= link_to "Cancel", cancel_request_path(@item_request, :html), :id => "cancel_button", :method => :put %>
									</li>
								<% end %>

							<% elsif @item_request.status == ItemRequest::STATUS_ACCEPTED %>

								<%= requester_and_gifter_only(@item_request) do %>
									<li>
										<%= link_to "Cancel", cancel_request_path(@item_request, :html), :id => "cancel_button", :method => :put %>
									</li>
									<li>
										<%= link_to "Collected", collected_request_path(@item_request, :html), :id => "collected_button", :method => :put, :class => "positive" %>
									</li>
									<% if  @item_request.item.gift? && !@item_request.item.is_shareage?%>
									<li>
										<%= link_to "Complete", complete_request_path(@item_request, :html), :id => "complete_button", :method => :put, :class => "positive" %>
									</li>
									<% end %>
								<% end %>

							<% elsif @item_request.status == ItemRequest::STATUS_COLLECTED %>
								<% if !@item_request.item.is_shareage? -%>
										<%= requester_and_gifter_only(@item_request) do %>
										<li>
											<%= link_to "Complete", complete_request_path(@item_request, :html), :id => "complete_button", :method => :put, :class => "positive" %>
										</li>
									<% end %>
								<% else -%>
									<%= requester_only(@item_request) do %>
										<li>
											<%= link_to "Return", return_request_path(@item_request, :html), :id => "complete_button", :method => :put, :class => "positive" %>
										</li>
									<% end %>
									<%= gifter_only(@item_request) do %>
										<li>
											<%= link_to "Recall", recall_request_path(@item_request, :html), :id => "complete_button", :method => :put, :class => "positive" %>
										</li>
									<% end %>
								<% end -%>
              <% elsif @item_request.status == ItemRequest::STATUS_RECALL %>

								<%= requester_only(@item_request) do %>
									<li>
										<%= link_to "Acknowledge", acknowledge_request_path(@item_request, :html), :id => "complete_button", :method => :put, :class => "positive" %>
									</li>
								<% end %>
								<%= gifter_only(@item_request) do %>
									<li>
										<%= link_to "Cancel", cancel_recall_request_path(@item_request, :html), :id => "complete_button", :method => :put, :class => "positive" %>
									</li>
								<% end %>
                <% elsif @item_request.status == ItemRequest::STATUS_RETURN %>

								<%= gifter_only(@item_request) do %>
									<li>
										<%= link_to "Acknowledge", acknowledge_request_path(@item_request, :html), :id => "complete_button", :method => :put, :class => "positive" %>
									</li>
								<% end %>
								<%= requester_only(@item_request) do %>
									<li>
										<%= link_to "Cancel", cancel_return_request_path(@item_request, :html), :id => "complete_button", :method => :put, :class => "positive" %>
									</li>
								<% end %>
                <% elsif @item_request.status == ItemRequest::STATUS_ACKNOWLEDGED %>

								<%= requester_and_gifter_only(@item_request) do %>
									<li>
										<%= link_to "Returned", returned_request_path(@item_request, :html), :id => "complete_button", :method => :put, :class => "positive" %>
									</li>
								<% end %>
							<% elsif @item_request.status == ItemRequest::STATUS_CANCELED %>
									<li>
										This request has been canceled
									</li>
							<% end %>
						</ul>
				
						<% if @item_request.description %>
							<p><%= @item_request.description %></p>
						<% end %>
				
					</div>
				</li>
				
				<% if (@item_request.gifter?(current_user.person) || @item_request.requester?(current_user.person)) && !@item_request.completed? %>

				<li class="content-box clearfix">
					<div class="discussion-holder">
						<ul class="comment-list">
		          			<%= render 'comment_form',        :item_request => @item_request %>
					        <%= render :partial => 'comment', :collection   => @comments %>
						</ul>

					</div><!-- /discussion-holder -->
				</li>

				<% end %>
				
			</ul>
		</div><!-- /content-box-holder  -->
	
	
	</div><!-- /content -->

	<div id="sidebar">
	
		<%= render :partial => "shared/trust_profile", :locals => { :person => (@item_request.gifter?(current_user.person) ? @item_request.requester : @item_request.gifter), :name => true } %>
	
		<%= render :partial => "shared/latest_activity_person", :locals => { :person => (@item_request.gifter?(current_user.person) ? @item_request.requester : @item_request.gifter) } %>
	

		
	</div><!-- sidebar -->
	
</div><!--	/request page -->



