<div id="content" class="item-request">
		
	<div class="content-box-holder no-bg">
		<ul>
			<li class="content-box clearfix">
				
				<!--  Nebojsa-todo - requestor image is static	-->
				
				<%= image_tag "http://profile.ak.fbcdn.net/hprofile-ak-snc4/41494_806048396_6664_n.jpg", :class => "thumb" %>
				
				
				
				<div class="inner-content">
					<%= render :partial => "shared/item_request_sentence", :locals => { :req => @item_request, :dashboard => false } %>
				
					<%= image_tag item_request_photo(@item_request), :class => "pic-medium" %>
					
					<ul class="action-buttons-list clearfix">
				
						<% if @item_request.status == ItemRequest::STATUS_REQUESTED %>

							<%= gifter_only(@item_request) do %>
								<li>
									<%= link_to "Accept", accept_request_path(@item_request), :id => "accept_button", :method => :put, :class => "positive" %>
								</li>
								<li>
									<%= link_to "Reject", reject_request_path(@item_request), :id => "reject_button", :method => :put %>
								</li>
						
							<% end %>

							<%= requester_only(@item_request) do %>
								<li>
									<%= link_to "Cancel", cancel_request_path(@item_request), :id => "cancel_button", :method => :put %>
								</li>
							<% end %>

						<% elsif @item_request.status == ItemRequest::STATUS_ACCEPTED %>

							<%= requester_and_gifter_only(@item_request) do %>
								<li>
									<%= link_to "Cancel", cancel_request_path(@item_request), :id => "cancel_button", :method => :put %>
								</li>
								<li>
									<%= link_to "Collected", collected_request_path(@item_request), :id => "collected_button", :method => :put, :class => "positive" %>
								</li>
								<% if  @item_request.item.purpose != Item::PURPOSE_GIFT %>
								<li>
									<%= link_to "Complete", complete_request_path(@item_request), :id => "complete_button", :method => :put, :class => "positive" %>
								</li>
								<% end %>
							<% end %>

						<% elsif @item_request.status == ItemRequest::STATUS_COLLECTED %>

							<%= requester_and_gifter_only(@item_request) do %>
								<li>
									<%= link_to "Complete", complete_request_path(@item_request), :id => "complete_button", :method => :put, :class => "positive" %>
								</li>
							<% end %>

						<% end %>
					</ul>
				
					<% if @item_request.description %>
						<p><%= @item_request.description %></p>
					<% end %>

					<p>Status: <%= @item_request.status_name %></p>
				
				</div>
			</li>
		</ul>
	</div><!-- /content-box-holder  -->
	
</div><!-- /content -->

<div id="sidebar" class="profile-holder">
	
	<%= render :partial => "shared/trust_profile", :locals => { :person => (@item_request.gifter?(current_user.person) ? @item_request.requester : @item_request.gifter) } %>
	
	<%= render :partial => "shared/latest_activity_person", :locals => { :person => (@item_request.gifter?(current_user.person) ? @item_request.requester : @item_request.gifter) } %>
	
</div><!-- sidebar -->

<%# TEMP CODE%>
<% if @item_request.completed? -%>

<% if @item_request.feedbacks.size != 2 -%>
  Both parties didn't leave feedback yet.  
<% else -%>
  <% @item_request.feedbacks.each do |feedback|%>
    <% person = Person.find_by_id(feedback.person_id)%>
    <p>
    <%= person.name %>
    </p>
    <p>
    <%= feedback.feedback%> |
    <%= feedback.feedback_note if feedback.feedback != 'positive'%>
    </p>
  <% end %>
<% end -%>
<%= link_to "Add feedback", new_request_feedback_path(@item_request), {:class => 'get'} if !@item_request.has_left_feedback?(current_user.person.id) %>   
  
<% end -%>  


