<%= image_tag @item_request.requester.avatar(:large), :style => "float:left;padding:10px;" %>
<h1><%= @item_request.requester.name %></h1>

<p>
	Would like to borrow a <strong><%= @item_request.item.name %></strong> from <%= @item_request.gifter.name %>
</p>

<% if @item_request.description %>
	<p><%= @item_request.description %></p>
<% end %>

<p>Status: <%= @item_request.status_name %></p>

<% if @item_request.status == ItemRequest::STATUS_REQUESTED %>

	<%= gifter_only(@item_request) do %>
		<%= link_to "Accept", accept_request_path(@item_request), :id => "accept_button", :method => :put %>
		<%= link_to "Reject", reject_request_path(@item_request), :id => "reject_button", :method => :put %>
	<% end %>

	<%= requester_only(@item_request) do %>
		<%= link_to "Cancel", cancel_request_path(@item_request), :id => "cancel_button", :method => :put %>
	<% end %>

<% elsif @item_request.status == ItemRequest::STATUS_ACCEPTED %>

	<%= requester_and_gifter_only(@item_request) do %>
		<%= link_to "Cancel", cancel_request_path(@item_request), :id => "cancel_button", :method => :put %>
		<%= link_to "Collected", collected_request_path(@item_request), :id => "collected_button", :method => :put %>
		<%= link_to "Complete", complete_request_path(@item_request), :id => "complete_button", :method => :put %>
	<% end %>

<% elsif @item_request.status == ItemRequest::STATUS_COLLECTED %>

	<%= requester_and_gifter_only(@item_request) do %>
		<%= link_to "Complete", complete_request_path(@item_request), :id => "complete_button", :method => :put %>
	<% end %>

<% end %>
