!!! 5
%html
	%head
		%title= @page_title
		
		/ %link{:type=>"text/css", :href=>"less/connect.less", :rel=>"stylesheet/less"}

		/ %script{:type=>"text/javascript", :src=>"js/modernizr.js"}
		/ %script{:type=>"text/javascript", :src=>"js/less.js"}
		/ %script{:type=>"text/javascript", :src=>"js/jquery.js"}
		/ %script{:type=>"text/javascript", :src=>"js/jquery.ui.1.9.1.js"}

		/ %script{:type=>"text/javascript", :src=>"js/jquery.rating.js"}
		/ %script{:type=>"text/javascript", :src=>"js/jquery.screwdefaultbuttonsV2.min.js"}
		/ %script{:type=>"text/javascript", :src=>"js/functions.js"}
		
		/ %script{:type=>"text/javascript", :src=>"js/modal.js"}
	%body 
		%div.wrapper
			%section.container.connect-search.subheader
				%h1 Connect
				%div.row
					=render "search_box"
					%div.buttons.right
						%button.button.create-village{:onclick=>"overlay()"} 
							=link_to "Create Village", new_village_path

		%div.wrapper
			%div.container
				%section.page-content.clearfix
					%div.suggestions
						%div.row.suggest
							%h1.communities-block Suggested Communities
							=link_to "Refresh", "#", :class => "refresh-button"
						%div.community-box
							%div.single-community
								-unless @villages.nil?
									%ul
										-for village in @villages
											%li
												%div.content
													%h1 
														=village.name
													%span.meta
														="#{village.street} #{village.state} #{village.country}"
													=link_to "Join", join_village_path(village), :method => :put, :class => "button ui-switch" unless village.is_member_or_admin?(current_person)
													=link_to "Leave", leave_village_path(village), :method => :put if village.is_member?(current_person)
					
					%div.suggestions
						%div.row.suggest
							%h1.people-block People I May Know
							=link_to "Refresh", "#", :class => "refresh-button" 
							
						%div.community-box
							%div.single-community
								/ %img{:src=>"/assets/img/picture.png", :alt=>""}
								%div.content
									-if @people.empty?
										= params[:search_terms] ? 'Search term not found' : 'Enter search term'
									-else
										%span.meta
											= render 'people_list', :people => @people
									
				%aside.dashboard-sidebar.sidebar
					%div.block.sidebar-block
						%hgroup
							%h1.suggest-side-header musicians in the inner west
						%div.block-list
							%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,\
						%ul.block-list
							%li
								%div.trusted-block
									%strong 15 people
									from your trusted network
							%li
								%div.communities-block
									%strong 15 people
									from your trusted network
							%li
								%div.people-block
									%strong 350 people
									in this group
							%li
								%div.items-block 
									%strong 15 people
									from your trusted network
						%a{:href=>"#", :title=>"View more", :class=>"more"} View More