%div.wrapper
	#cont.container
		%section#sec.dashboard-feed.page-content
			
			#wrapper-connect
				#search
					%h1 Connect
					#searchwrapper
						%form{:action=>""}
							%input{:type=>"text", :class=>"searchbox", :name=>"s", :value=>"Search villages, groups or people", :onfocus=>"if(this.value==this.defaultValue)this.value='';", :onblur=>"if(this.value=='')this.value=this.defaultValue;" }
							%input{:type=>"image", :src=>"/assets/connect/search-btn.png", :class=>"searchbox_submit", :value=>""}

				#community-refresh-btn
					#suggested
						%img{:src=>"/assets/connect/sug-ct.png", :alt=>"suggest", :title=>"suggest"}
						%h2 Suggested Communities
					#community-reload
						%img{:src=>"/assets/connect/reload.jpg", :alt=>"reload", :title=>"reload"}


				#communities
					- right = 0
					-unless @villages.nil?
						-for village in @villages
							.block-row
								.block-wrapper
									-if (right == 0)
										%img{:class=>"imagePad",:src=>"/assets/connect/house.png", :alt=>"image", :title=>"image"}
										-right = 1
									-else
										%img{:class=>"imagePad",:src=>"/assets/connect/house.png", :alt=>"house", :title=>"house"}
										-right = 0
									.block-info
										%h3
											=village.name
										%p
											- str = (village.street == "") ? "" : "#{village.street}, "
											- st =  (village.state == "") ? "" : "#{village.state}, "
											- ctry =  (village.country == "") ? "" : "#{village.country}"
											- vloc = "#{str}#{st}#{ctry}"
											= truncate vloc , :length => 25
										%img{:src=>"/assets/connect/join.png", :alt=>"join", :title=>"join"}


				%br

				#community-refresh-btn
					#suggested
						%img{:src=>"/assets/connect/grey_grp.png", :alt=>"suggest", :title=>"suggest"}
						%h2 People I May Know
					#community-reload
						%img{:src=>"/assets/connect/reload.jpg", :alt=>"reload", :title=>"reload"}


				#communities
					-unless @people.nil?
						-for ppl in @people
							.block-row
								.block-wrapper
									%img{:class=>"imagePad",:src=> ppl.avatar, :alt=>"image", :title=>"image"}
									.block-info
										%h3
											=ppl.name
										%p
											- loc = (ppl.location == "") ? "N/A" : ppl.location
											= truncate loc , :length => 25
										%img{:src=>"/assets/connect/trust.png", :alt=>"join", :title=>"join"}


		%div.buttons-right
			%button{:class => "button"} Create Village

		%aside.dashboard-sidebar.sidebar
			%div.connect-sidebar-block
				%hgroup
					%h1.suggest-side-header Musicians in the Inner West
				%div.block-list
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Ut enim ad minim veniam.
				%ul.block-list
					%li
						%div.trusted-block
							%strong 15 people
							from your trusted network
					%li
						%div.communities-block
							%strong 15 people
							from your trusted network
					%li
						%div.people-block
							%strong 350 people
							in this group
					%li
						%div.items-block 
							%strong 15 people
							from your trusted network
				%a{:href=>"#", :title=>"View more", :class=>"more"} view more
			
%br
%br
