<%
	# compact version of available item request actions based on user's role
	# for example used in dashboard.html.erb
%>

<% if [ItemRequest::STATUS_ACCEPTED, ItemRequest::STATUS_COLLECTED, ItemRequest::STATUS_COMPLETED].include? req.status %>
	<li>
		<%= link_to 'view action', request_path(req), :id => "request_#{req.id}" %>
	</li>
<% else %>
	<li>
		<%= link_to 'view request', request_path(req), :id => "request_#{req.id}" %>
	</li>
<% end %>

<% if req.status == ItemRequest::STATUS_REQUESTED %>

	<%= gifter_only(req) do %>
		<li>
			<%= link_to "accept", accept_request_path(req, ActionFormat::FORMAT), :id => "accept_button", :class => "dashboard-action-link", :method => :put %>
		</li>
		<li>
			<%= link_to "reject", reject_request_path(req, ActionFormat::FORMAT), :id => "reject_button", :class => "dashboard-action-link", :method => :put %>
		</li>
		
		
	<% end %>
	
	<%= requester_only(req) do %>
		<li>
			<%= link_to "cancel", cancel_request_path(req, ActionFormat::FORMAT), :id => "cancel_button", :class => "dashboard-action-link", :method => :put %>
		</li>
	<% end %>

<% elsif req.status == ItemRequest::STATUS_ACCEPTED %>

	<%= requester_and_gifter_only(req) do %>
		<li>
			<%= link_to "cancel", cancel_request_path(req, ActionFormat::FORMAT), :id => "cancel_button", :class => "dashboard-action-link", :method => :put %>
		</li>
		<li>	
			<%= link_to "collected", collected_request_path(req, ActionFormat::FORMAT), :id => "collected_button", :class => "dashboard-action-link", :method => :put %>
		</li>
		<li>
			<%= link_to "complete", complete_request_path(req, ActionFormat::FORMAT), :id => "complete_button", :class => "dashboard-action-link", :method => :put %>
		</li>
		
	<% end %>

<% elsif req.status == ItemRequest::STATUS_COLLECTED %>

	<%= requester_and_gifter_only(req) do %>
		<li>
			<%= link_to "complete", complete_request_path(req, ActionFormat::FORMAT), :id => "complete_button", :class => "dashboard-action-link", :method => :put %>
		<li>
	<% end %>

<% end %>
<% comments = req.comments.count %>
<li><a href="#" class="action-comments-show-hide">comments(<%= comments ||= 0 %>)</a></li>
