%div.story-meta
	= "#{time_ago_in_words req.created_at} ago"
	-if req.requester?(current_user.person)
		= link_to "cancel", network_request_path(req), :id => "cancel_button", :method => :delete
	-else
		= link_to "view profile", person_path(req.person)
		= link_to "confirm", confirm_network_request_path(req), :id => "confirm_button", :method => :put
		= link_to "deny", deny_network_request_path(req), :id => "deny_button", :method => :put
