<div class="network-activity">
  <h2><%= title ||= 'Your Network Activity' %></h2>
    <ul>
      <% events.each do |event| %>
		  <% event_sentence = event_log_sentence(event.event_log, nil, 
                                                EventDisplay::DASHBOARD_FEED) %>
            <% unless event_sentence.empty? %>
            <li class="sidebar-box clearfix">
            <div class="inner-content">
              <p><%= event_sentence %></p>

             <div class="action clearfix">
               <%= render :partial => "shared/event_log_actions_compact", 
                          :locals => { :event_log => event.event_log } %>
             </div>
         </div>
			
			<% comments = event.event_log.comments%>				
			<div class="inner-content">

				<ul class="comment-list comment-list-hidden">
				<% comments.each do |c| -%>
				  <% person = c.user.person %>
				  <li class="clearfix">	
						<%= image_tag person.avatar(:square), :class => "thumb" %>
						<p>
							<strong><%= link_to person.name, person_path(person) %></strong> <%= c.comment %>
							<span><%= time_ago_in_words(c.created_at) %> ago</span>
						</p>
					</li> 
				<% end unless comments.empty? -%>

					<%= render :partial => 'comments/new', :locals => { :commentable => event.event_log } %>

				</ul>
			</div><!-- /inner-content -->	
							
		</li>
			    
      <% end %>
		<% end unless @events.nil? %>		
	</ul>
	
	<!-- PREV - NEXT links -->
	<!--
		<%= will_paginate @events, :page_links=>false unless @events.nil?%> 
		<a href="#more_news" class="button-more">
			more
		</a>
	-->
	
</div><!--	/network-activity -->
	
