<div class="network-activity">
	<h2><%= title ||= 'Your Network Activity' %></h2>
		<ul>
		  <% events.each do |event| %>
		  <li class="sidebar-box clearfix">
			<%= 
				 render :partial => "shared/event_log_entry", :locals => { :event_log => event.event_log }
			%>
			
			<% comments = event.event_log.comments%>				
			<div class="inner-content">

				<ul class="comment-list">
				<% comments.each do |c| -%>
				  <% person = c.user.person %>
				  <li class="clearfix">	
						<%= image_tag person.avatar(:square), :class => "thumb" %>
						<p>
							<%= link_to person.name, person_path(person) %> says: <%= c.comment %>
							<span><%= time_ago_in_words(c.created_at) %> ago</span>
						</p>
					</li> 
				<% end unless comments.empty? -%>

					<%= render :partial => 'comments/new', :locals => { :commentable => event.event_log } %>

				</ul>
			</div><!-- /inner-content -->	
							
		</li>
			    
		<% end unless @events.nil? %>		
	</ul>
		<%= will_paginate @events, :page_links=>false unless @events.nil?%> 
	<a href="#more_news" class="button-more">
		more
	</a>
</div><!--	/network-activity -->
	
