<div id="sidebar-left">

		
		<ul>
			<li class="all <%= (params[:type] == 'all') ? "selected" : ""%>">
				<%= link_to 'All Results', search_index_path(:search => params[:search], :type => 'all') %>
			</li>
			<li class= "items <%= (params[:type] == 'items') ? "selected" : ""%>" > 
				<%= link_to 'Items', search_index_path(:search => params[:search], :type => 'items') %>
			</li>
			<li class="people <%= (params[:type] == 'people') ? "selected" : ""%>">
				<%= link_to 'People', search_index_path(:search => params[:search], :type => 'people') %>
			</li>
			<!--
			<li class="community">
				<a href="#">Communities</a>
			</li>
			<li>
				<a href="#">Villages</a>
			</li>
			<li class="separator">
				&nbsp;
			</li>
			<li class="all">
				<a href="#">All your networks</a>
			</li>
			<li class="community">
				<a href="#">Evolver Sydney</a>
			</li>
			<li class="community">
				<a href="#">Sydney Java Community</a>
			</li>
			<li class="village selected">
				<a href="#">Sydney</a>
			</li>
			<li class="village">
				<a href="#">Newtown</a>
			</li>
			-->
		</ul>
		
</div><!--	/sidebar-left	-->
