<% viewing_my_profile = (person == current_user.person) %>

<div class="trust-box-holder <%= 'my-trust-box-holder' if viewing_my_profile %>">
	<div class="trust-reputation-box <%= 'my-trust-reputation-box' if viewing_my_profile %>">
		
		<div class="clearfix">
			<% if name  %>
				<h2>
					<%= link_to person.name, person, :class => "loged-out" %> 
					<br />
					<span class="location"><%= person.location %></span>
				</h2>
			<% end %>

			<% unless viewing_my_profile  %>

				<% if person.requested_trusted_relationship?(current_user.person) %>
				<h2 class="rhs-link">
					<%= link_to "cancel trust request", people_network_request_path(person.requested_trusted_relationship(current_user.person)), :method => :delete, :class => "trust-cancel" %>
				</h2>
				<% elsif people_network = current_user.person.trusts?(person) %>
				<h2 class="rhs-link">
					<%= link_to "withdraw trust", people_network_path(people_network), :method => :delete, :class => "withdraw" %>
				</h2>
				<% elsif current_user.person.requested_trusted_relationship?(person) %>
				<h2 class="rhs-link">
				  <%= link_to "confirm trust", confirm_people_network_request_path(current_user.person.requested_trusted_relationship(person)), :id => "confirm_button", :method => :put, :class => "trust-confirm" %>
				</h2>
				<% else %>
				<h2 class="rhs-link">
					<%= link_to "acknowledge trust", people_network_requests_path(:trusted_person_id => person), :method => :post, :class => "trust-acknowledge" %>
				</h2>
				
				
				<% end %>
			<% end %>
			
			<% if current_user.person == @person  %>
			<h2 class="rhs-link edit-profile-link">
				<%= link_to "edit profile", edit_person_path(@person) %>
			</h2>
			<% end %>
			
		</div>
		
		<%= image_tag("devider-trust-profile.png", :class => "devider clearer", :alt => "")  %>
		<h3>Reputation</h3>
		<ul class="action-list clearfix">
			<li>
				<%= link_to person.reputation_rating.gift_actions_count.to_s + " gift actions", "#", :class => "giftactions", :title => "Gift Actions" %>
			</li>
			<li>
				<%= link_to person.reputation_rating.distinct_people_count.to_s + " different people", "#", :class => "people-helped", :title => "People Helped" %>
			</li>
			<li>
			  <% feedback_rating = person.reputation_rating.feedback_rating?%>
				<%= link_to feedback_rating.nil? ? "n/a" : (feedback_rating.to_s + "%"), "#", :class => "feedback-rating", :title => "Positive Feedback Rating" %>
			</li>
		</ul>
		<%= image_tag("devider-trust-profile.png", :class => "devider", :alt => "")  %>
		<h3><%= link_to 'Trust Profile', (network_person_path(person))%></h3>
		<ul>
			<% unless viewing_my_profile %>
				<li class="first clearfix">
				  <%= in_network?(current_user.person, person )%>
				</li>
			<% end %>
        	

			<% if viewing_my_profile %>
				<li class="last clearfix">
				  <% trusted_count = person.trusts_me_count %>
					<%= image_tag("ic-trusted-net-you-green.png", :class => "icons", :alt => "Trusted Profile") %>		


					<p>
						<% trusted = trusted_count.to_s + ((trusted_count == 1) ? " person " : " people ") + 'in your trusted network' %>
						<%= link_to trusted, (network_person_path(person))%>		
					</p>
				</li>
			<% end %>
			

			<% unless viewing_my_profile %>

			<li class="second clearfix">
				<!--
				 	this image shoulde be active if the number is = 0
					<%#= image_tag("ic-trusted-net-others-orange.png", :class => "icons", :alt => "Trusted Profile")  %>	
				-->
				<% trusted_network = current_user.person.mutural_friends(person).count %>
				<% if trusted_network > 0 -%>
				  <%= image_tag("trusted_network_icon_others_green.png", :class => "icons", :alt => "Trusted Profile")  %>
				<% else -%>
				  <%= image_tag("trusted_network_icon_others_orange.png", :class => "icons", :alt => "Trusted Profile")  %>
				<% end -%>
				<p>
				 <% network = (trusted_network == 1) ? "#{trusted_network} person from your trusted network" : "#{trusted_network} people from your trusted network" %> 
				  <%= link_to network, (network_person_path(person, :type => 'mutual'))%>					
				</p>
			</li>			

			<li class="last clearfix">
			  <% trusted_count = person.trusts_me_count %>
				<%= image_tag("trusted_network_icon_others_all.png", :class => "icons", :alt => "Trusted Profile")  %>
			
				<p>
					<% trusted = trusted_count.to_s + ((trusted_count == 1) ? " person " : " people ") + 'in their trusted network' %>
					<%= link_to trusted, (network_person_path(person))%>		
				</p>
			</li>
         <% end %>
		</ul>
	</div>
</div><!-- /trust-reputation-box  -->
