- viewing_my_profile = (person == current_user.person)

-if name
	= link_to_person person, :check_current_user => false, :class => "person-name"

	-if person.has_location?
		= person.location


-unless viewing_my_profile

	%li= in_network?(current_user.person, person)

-if viewing_my_profile

	%li.others-trust
		-trusted_count = person.trusts_me_count
		-trusted = trusted_count.to_s + ((trusted_count == 1) ? " person " : " people ") + 'in your trusted network'
		= link_to trusted, (network_person_path(person))

-unless viewing_my_profile

	%li.network-trust
		-trusted_network = current_user.person.mutural_friends(person).count
		-network = (trusted_network == 1) ? "#{trusted_network} person from your trusted network" : "#{trusted_network} people from your trusted network"
		= link_to network, (network_person_path(person, :type => 'mutual'))

	%li.others-trust
		-trusted_count = person.trusts_me_count
		-trusted = trusted_count.to_s + ((trusted_count == 1) ? " person " : " people ") + 'in their trusted network'
		= link_to trusted, (network_person_path(person))