<div class="trust-box-holder">
	<%= image_tag("curve-top-sidebar-box.png")  %>		
	<div class="trust-reputation-box">
		
		<div class="clearfix">
		  <h2>
			<%= link_to person.name, person_path(person), :class => "loged-out" if name %> 
		</h2>

			<% if person != current_user.person %>
				<% if person.requested_trusted_relationship?(current_user.person) %>
				<h2 class="rhs-link">
					<%= link_to "cancel request", people_network_request_path(person.requested_trusted_relationship(current_user.person)), :method => :delete %>
				</h2>
				<% elsif people_network = current_user.person.trusts?(person) %>
				<h2 class="rhs-link">
					<%= link_to "withdraw trust", people_network_path(people_network), :method => :delete %>
				</h2>
				<% elsif current_user.person.requested_trusted_relationship?(person) %>
				<h2 class="rhs-link">
				  <%= link_to "confirm trust", confirm_people_network_request_path(current_user.person.requested_trusted_relationship(person)), :id => "confirm_button", :method => :put %>
				</h2>
				<% else %>
				<h2 class="rhs-link">
					<%= link_to "establish trust", people_network_requests_path(:trusted_person_id => person), :method => :post %>
				</h2>
				<% end %>
			<% end %>
		</h2>
		</div>
		
		<%= image_tag("devider-trust-profile.png", :class => "devider clearer", :alt => "")  %>
		<h3>Reputation</h3>
		<ul class="action-list clearfix">
			<li>
				<%= link_to person.reputation_rating.gift_actions_count.to_s + " gift actions", "#", :class => "giftactions", :title => "Gift Actions" %>
			</li>
			<li>
				<%= link_to person.reputation_rating.distinct_people_count.to_s + " different people", "#", :class => "people-helped", :title => "People Helped" %>
			</li>
			<li>
			  <% feedback_rating = person.reputation_rating.feedback_rating?%>
				<%= link_to feedback_rating.nil? ? "n/a" : (feedback_rating.to_s + "%"), "#", :class => "feedback-rating", :title => "Positive Feedback Rating" %>
			</li>
		</ul>
		<%= image_tag("devider-trust-profile.png", :class => "devider", :alt => "")  %>
		<h3>Trust Profile</h3>
		<ul>
			<li class="clearfix">
				<% if current_user.person.trusts?(person) %>
					<%= image_tag("ic-trusted-net-you-green.png", :class => "icons", :alt => "Trusted Profile")  %>
					<p>
						In your trusted network
					</p>
				<% else %>
					<%= image_tag("ic-trusted-net-you-orange.png", :class => "icons", :alt => "Untrusted Profile")  %>
					<p>
					<% if person.requested_trusted_relationship?(current_user.person) %>
						 Establish trust request pending
					<% else %>
					   Not in your trusted network
					<% end %>

					</p>
				<% end %>
			</li>
			<li class="clearfix">
				<!--
				 	this image shoulde be active if the number is = 0
					<%= image_tag("ic-trusted-net-others-orange.png", :class => "icons", :alt => "Trusted Profile")  %>	
				-->
				
				<%= image_tag("ic-trusted-net-others-green.png", :class => "icons", :alt => "Trusted Profile")  %>
				<p>
					<a href="#">
					<%= trusted_network = current_user.person.mutural_friends_count(person) %>
					</a>
					<%= (trusted_network == 1) ? "person" : "people" %> from your trusted network
				</p>
			</li>
<!--
			<li class="clearfix">
				<%= image_tag("ic-extended-network.png", :class => "icons", :alt => "Extended Network")  %>
				<p>
					<a href="#">0</a> people from your extended network
				</p>

				<p>
					<span>
						<a href="#">
							<%= image_tag("ic-village.png", :alt => "")  %>
						</a>
                          <a href="#">Chileans in Sydney</a> | <a href="#">Australia</a>
					</span>
        </p>
			</li>
-->
			
			<li class="clearfix">
				<%= image_tag("ic-trusted-network.png", :class => "icons", :alt => "Trusted Network")  %>
				<p>
					<a href="#"><%= trusts_me = person.trusts_me_count %></a> <%= (trusts_me == 1) ? "person" : "people" %> in their trusted network
				</p>
			</li>
		</ul>
	</div>
	<%= image_tag("curve-bottom-sidebar-box.png", :alt => "")  %>
</div><!-- /trust-reputation-box  -->
