!!! 5
%html
	%head
		%title= @page_title
		
		/ %link{:type=>"text/css", :href=>"less/community.less", :rel=>"stylesheet/less"}

		/ %script{:type=>"text/javascript", :src=>"js/modernizr.js"}
		/ %script{:type=>"text/javascript", :src=>"js/less.js"}
		/ %script{:type=>"text/javascript", :src=>"js/jquery.js"}
		/ %script{:type=>"text/javascript", :src=>"js/jquery.ui.1.9.1.js"}

		/ %script{:type=>"text/javascript", :src=>"js/jquery.rating.js"}
		/ %script{:type=>"text/javascript", :src=>"js/jquery.screwdefaultbuttonsV2.min.js"}
		/ %script{:type=>"text/javascript", :src=>"js/functions.js"}
		
		/ %script{:type=>"text/javascript", :src=>"js/modal.js"}
	%body
		%div.wrapper
			%div.container
				%section.community-feed.page-content.clearfix
					%section.community-page-header.clearfix
						%div.community-avatar
							= image_tag current_user.avatar(:square)
						%div.community-content
							%h1 Your Community
							%h2 The people you are connected to
							%p We are interdepedent on those who surround us. We are individuals who are part of a larger social organism.
							%div.community-header-links
								= link_to "#{@people.count} People", "#", :class => "people"
								= link_to "#{current_user.person.trusted_network.size} people that I trust", "#", :class => "trusted"
								= link_to "#{@items.count} items available", "#", :class => "items"
									
						%hr.row
						%form.row
							%textarea Post to community discussion board
					%div.feed#tabs
						%ul.feed-tabs
							%li
								%a{:href=>"#tabs-1", :title=>"", :class=>"", :id=>""}><
									Activity
							%li
								%a{:href=>"#tabs-2", :title=>"", :id=>""}>< Resources
							%li
								%a{:href=>"#tabs-3", :title=>"", :id=>""}>< Asks
							%li
								%a{:href=>"#tabs-4", :title=>"", :id=>""}>< Humans
							%li
								%a{:href=>"#tabs-5", :title=>"", :id=>""}>< Search
						%div.feed-content.activity#tabs-1
							-@request_dates.each do |date,requests|
								%div.story.timestamp
									%div.story.timestamp
										-if date == Date.today.strftime("%B %d")
											%h2 Today
										-else
											%h2 
												=date
									
								%div.story.clearfix
									-requests.each do |req|
										-if req.is_a? ItemRequest
											=render :partial => "shared/item_request_content_box", :locals => { :req => req }
										-elsif req.is_a? NetworkRequest
											%div.user-avatar
												=image_tag(network_request_photo(req, :size => :square), :class => "thumb")
											= render :partial => "shared/network_request_actions_compact", :locals => { :req => req }

						%div.feed-content.resources#tabs-2
							%div.third
								%ul
									%li
										%a{:href=>"#"} Lorem ipsum
									%li
										%a{:href=>"#"} Lorem ipsum
									
						%div.feed-content.activity#tabs-5
							%section.content-box
								%div.content-head
									%h1 search results for lock
									%div.search-form
										%form
											%input{:type=>"text", :placeholder=>"Search", :class=>"search-input"}
											%input{:type=>"button", :value=>"Search", :class=>"search-button"}
								%div.search-result.clearfix
									%div.people 11 people found
								%div.search-result.clearfix
									%div.villages 3 villages found
								%div.search-result.clearfix
									%div.groups 7 groups found
							%section.content-box
								%div.content-head
									%h1 52 items found in your community
								%div.community-item.clearfix
									%div.item-picture
										%img{:src=>"/assets/img/item.png", :alt=>"Shelter"}
									%div.item-information
										%div.row
											Coleman Gazebo Shelter
										%div.row
											%div.item-type
												commoned
											%div.item-rating
												%form
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
									%div.owner-information
										%div.row.owner-name
											Johnson John
										%div.row
											%ul.owner-info
												%li
													%div.vCenter
														%div.globe Globe?
												%li
													%div.vCenter
														%div.community Community
												%li
													%div.vCenter
														%div.trusted Trusted
												%li
													%div.vCenter
														%div.village Villages
												%li
													%div.vCenter
														%div.group Groups
									%div.item-actions
										%button.button.ui-switch Request
								%div.community-item.clearfix
									%div.item-picture
										%img{:src=>"img/item.png", :alt=>"Shelter"}
									%div.item-information
										%div.row
											Coleman Gazebo Shelter
										%div.row
											%div.item-type
												commoned
											%div.item-rating
												%form
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
									%div.owner-information
										%div.row.owner-name
											Johnson John
										%div.row
											%ul.owner-info
												%li
													%div.vCenter
														%div.globe Globe?
												%li
													%div.vCenter
														%div.community Community
												%li
													%div.vCenter
														%div.trusted Trusted
												%li
													%div.vCenter
														%div.village Villages
												%li
													%div.vCenter
														%div.group Groups
									%div.item-actions
										%button.button.ui-switch Request
								%div.community-item.clearfix
									%div.item-picture
										%img{:src=>"img/item.png", :alt=>"Shelter"}
									%div.item-information
										%div.row
											Coleman Gazebo Shelter
										%div.row
											%div.item-type
												commoned
											%div.item-rating
												%form
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
									%div.owner-information
										%div.row.owner-name
											Johnson John
										%div.row
											%ul.owner-info
												%li
													%div.vCenter
														%div.globe Globe?
												%li
													%div.vCenter
														%div.community Community
												%li
													%div.vCenter
														%div.trusted Trusted
												%li
													%div.vCenter
														%div.village Villages
												%li
													%div.vCenter
														%div.group Groups
									%div.item-actions
										%button.button.ui-switch Request
								%div.community-item.clearfix
									%div.item-picture
										%img{:src=>"img/item.png", :alt=>"Shelter"}
									%div.item-information
										%div.row
											Coleman Gazebo Shelter
										%div.row
											%div.item-type
												commoned
											%div.item-rating
												%form
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
									%div.owner-information
										%div.row.owner-name
											Johnson John
										%div.row
											%ul.owner-info
												%li
													%div.vCenter
														%div.globe Globe?
												%li
													%div.vCenter
														%div.community Community
												%li
													%div.vCenter
														%div.trusted Trusted
												%li
													%div.vCenter
														%div.village Villages
												%li
													%div.vCenter
														%div.group Groups
									%div.item-actions
										%button.button.ui-switch Request
								%div.community-item.clearfix
									%div.item-picture
										%img{:src=>"img/item.png", :alt=>"Shelter"}
									%div.item-information
										%div.row
											Coleman Gazebo Shelter
										%div.row
											%div.item-type
												commoned
											%div.item-rating
												%form
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
													%input{:type=>"radio", :name=>"rating", :class=>"star"}
									%div.owner-information
										%div.row.owner-name
											Johnson John
										%div.row
											%ul.owner-info
												%li
													%div.vCenter
														%div.globe Globe?
												%li
													%div.vCenter
														%div.community Community
												%li
													%div.vCenter
														%div.trusted Trusted
												%li
													%div.vCenter
														%div.village Villages
												%li
													%div.vCenter
														%div.group Groups
									%div.item-actions
										%button.button.ui-switch Request
						
				%aside.dashboard-sidebar.sidebar
					
					=render :partial => "shared/commons_sidebar"

					%div.block.sidebar-block
						%h1 filter by
						%h2.filter.heading my community
						%ul.block-list.filters
							%li.filter
								%a.village.active{:href=>"#"} Villages
							%li.filter
								%a.trusted.active{:href=>"#"} Trusted Network
							%li.filter
								%a.groups.active{:href=>"#"} Groups
							%li.filter
								%a.village{:href=>"#"} Villages
							%li.filter
								%a.trusted{:href=>"#"} Trusted Network
							%li.filter
								%a.groups{:href=>"#"} Groups
						%a{:href=>"#", :title=>"View more", :class=>"more"} View More