<div id="content">
	<div class="content-box-holder">
		<%= image_tag("curve-top-content-box.png", :alt => "test")  %>

		<% unless @active_item_requests.size.zero? %>
			<ul>
				<% @active_item_requests.each do |req| %>
					<li class="content-box clearfix">
						<%= link_to image_tag(req.requester.avatar, :class => "thumb"), person_path(req.requester) %>
						<div class="inner-content">
							<p>
								<%= link_to_person(req.requester) %>
								requested <%= link_to req.item.name, item_path(req.item) %>
								from <%= link_to_person(req.gifter, :downcase_you => true) %>
							</p>
					
							<div class="action clearfix">
								<ul>
									<li>
										2 minutes ago
									</li>
									<%= render :partial => "shared/item_request_actions_compact", :locals => { :req => req } %>
								</ul>
							</div>
					
					
						</div>
					</li>
				<% end %>
			</ul>
		<% else %>
			<ul>
				<li class="content-box clearfix">
					<h2>No requests.</h2>
				</li>
			</ul>
		<% end %>


	<%= image_tag("curve-bottom-content-box.png", :alt => "")  %>
	</div>
	<!-- /.content-box-holder  -->

</div>