<div id="content">
	<div class="content-box-holder">
		<%= image_tag("curve-top-content-box.png", :alt => "test")  %>

		<% unless @active_item_requests.size.zero? %>
			<ul>
				<% @active_item_requests.each do |req| %>
					<li class="content-box clearfix">
						<%= link_to image_tag(item_request_photo(req, :size => :square), :class => "thumb"), request_path(req) %>
						<div class="inner-content">
							<p>
								<%= render :partial => "shared/item_request_sentence", :locals => { :req => req } %>
							</p>
					
							<div class="action clearfix">
								<ul>
									<li>
										<%= time_ago_in_words req.created_at %> ago
									</li>
									<%= render :partial => "shared/item_request_actions_compact", :locals => { :req => req } %>
								</ul>
							</div>
						</div>
					</li>
				<% end %>
			</ul>
		<% else %>
			<ul>
				<li class="content-box clearfix">
					<h2>No requests.</h2>
				</li>
			</ul>
		<% end %>


	<%= image_tag("curve-bottom-content-box.png", :alt => "")  %>
	</div>
	<!-- /.content-box-holder  -->

</div>