<div id="content">
	<% unless @requests.count.zero? %>
		<div class="content-box-holder">
			<%= image_tag("curve-top-content-box.png", :alt => "")  %>
			<ul>
				<% @requests.each do |req| %>
					<% if req.is_a? ItemRequest %>
						<li class="content-box clearfix">
							<%= link_to image_tag(item_request_photo(req, :size => :square), :class => "thumb"), request_path(req) %>
							<div class="inner-content">
								<p>
									<%= render :partial => "shared/item_request_sentence", :locals => { :req => req } %>
								</p>
					
								<div class="action clearfix">
									<ul>
										<li>
											<%= time_ago_in_words req.created_at %> ago
										</li>
										<%= render :partial => "shared/item_request_actions_compact", :locals => { :req => req } %>
									</ul>
								</div>
							</div>
						</li>
					<% elsif req.is_a? PeopleNetworkRequest %>
						<li class="content-box clearfix">
							<%= image_tag(people_network_request_photo(req, :size => :square), :class => "thumb") %>
							<div class="inner-content">
								<p>
									<%= render :partial => "shared/people_network_request_sentence", :locals => { :req => req } %>
								</p>
					
								<div class="action clearfix">
									<ul>
										<li>
											<%= time_ago_in_words req.created_at %> ago
										</li>
										<%= render :partial => "shared/people_network_request_actions_compact", :locals => { :req => req } %>
									</ul>
								</div>
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>

		<%= image_tag("curve-bottom-content-box.png", :alt => "")  %>
		</div>
		<!-- /.content-box-holder  -->
	<% end %>

<h2>Recent Activity</h2>
<ul>
	<% @recent_activity_logs.each do |activity_log| %>
		<li class="sidebar-box clearfix">
			<%= render :partial => "shared/activity_log_entry", :locals => { :activity_log => activity_log } %>
		</li>
	<% end %>
</ul>

</div>