<div id="content" class="dashboard">
	<% unless @requests.count.zero? %>
		<div class="content-box-holder">
			<%= image_tag("curve-top-content-box.png", :alt => "")  %>
			<ul>
				<% @requests.each do |req| %>
					<% if req.is_a? ItemRequest %>
						<li class="content-box clearfix">
							<%= link_to image_tag(item_request_photo(req, :size => :square), :class => "thumb"), request_path(req) %>
							<div class="inner-content">
								<p>
									<%= render :partial => "shared/item_request_sentence", :locals => { :req => req } %>
								</p>
					
								<div class="action clearfix">
									<ul>
										<li>
											<%= time_ago_in_words req.created_at %> ago
										</li>
										<%= render :partial => "shared/item_request_actions_compact", :locals => { :req => req } %>
									</ul>
								</div>
							</div>
						</li>
					<% elsif req.is_a? PeopleNetworkRequest %>
						<li class="content-box clearfix">
							<%= image_tag(people_network_request_photo(req, :size => :square), :class => "thumb") %>
							<div class="inner-content">
								<p>
									<%= render :partial => "shared/people_network_request_sentence", :locals => { :req => req } %>
								</p>
					
								<div class="action clearfix">
									<ul>
										<li>
											<%= time_ago_in_words req.created_at %> ago
										</li>
										<%= render :partial => "shared/people_network_request_actions_compact", :locals => { :req => req } %>
									</ul>
								</div>
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>

		<%= image_tag("curve-bottom-content-box.png", :alt => "")  %>
		</div>
		<!-- /.content-box-holder  -->
	<% end %>
	
	
	<div class="content-box-holder">
		<%= image_tag("curve-top-content-box.png", :alt => "")  %>
		
		<ul>
			<li class="content-box clearfix">
				<h2>Recent Activity</h2>
			</li>
			
			<% @recent_activity_logs.each do |activity_log| %>

				<li class="content-box clearfix">
					<%= image_tag activity_log.secondary.avatar(:square), :class => "thumb" %>
					
					<div class="inner-content">
						<%= render :partial => "shared/activity_log_entry", :locals => { :activity_log => activity_log } %>
					</div>
				</li>
			<% end %>
			
			
			<!-- Nebojsa-todo - button-more is static  -->
			<li class="content-box clearfix">
				<a href="#" class="button-more">
					more
				</a>
			</li>
		</ul>
		<%= image_tag("curve-bottom-content-box.png", :alt => "")  %>
	</div>
	<!-- /.content-box-holder  -->
	

</div>

<div id="sidebar" class="profile-holder">
	<div class="sidebar-box-holder">
		<h2>News feed</h2>
		<ul>
			<% @event_logs.each do |event_log| %>
				<li class="sidebar-box clearfix">
					<pre>
					<%= 
						# render :partial => "shared/event_log_entry", :locals => { :event_log => event_log }
						# event_log.to_yaml
					%>
					</pre>
					<br /><br /><br /><br />
				</li>
			<% end %>
		</ul>		
	</div>
</div><!-- sidebar -->
