<div id="content" class="dashboard">
	<% unless @requests.count.zero? %>
		<div class="content-box-holder">
			<%= image_tag("curve-top-content-box.png", :alt => "")  %>
			<ul>
				<% @requests.each do |req| %>
					<% if req.is_a? ItemRequest %>
						<li class="content-box clearfix">
							<%= link_to image_tag(item_request_photo(req, :size => :square), :class => "thumb"), request_path(req) %>
							<div class="inner-content">
								<p>
									<%= render :partial => "shared/item_request_sentence", :locals => { :req => req } %>
								</p>
					
								<div class="action clearfix">
									<ul>
										<li>
											<%= time_ago_in_words req.created_at %> ago
										</li>
										<%= render :partial => "shared/item_request_actions_compact", :locals => { :req => req } %>
									</ul>
								</div>
							</div>
						</li>
					<% elsif req.is_a? PeopleNetworkRequest %>
						<li class="content-box clearfix">
							<%= image_tag(people_network_request_photo(req, :size => :square), :class => "thumb") %>
							<div class="inner-content">
								<p>
									<%= render :partial => "shared/people_network_request_sentence", :locals => { :req => req } %>
								</p>
					
								<div class="action clearfix">
									<ul>
										<li>
											<%= time_ago_in_words req.created_at %> ago
										</li>
										<%= render :partial => "shared/people_network_request_actions_compact", :locals => { :req => req } %>
									</ul>
								</div>
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>

		<%= image_tag("curve-bottom-content-box.png", :alt => "")  %>
		</div>
		<!-- /.content-box-holder  -->
	<% end %>
	
	
	<div class="content-box-holder">
		<%= image_tag("curve-top-content-box.png", :alt => "")  %>
		
		<ul>
			<li class="content-box clearfix">
				<h2>Recent Activity</h2>
			</li>
			
			<% @recent_activity_logs.each do |activity_log| %>

				<li class="content-box clearfix">
					<%= image_tag recent_activity_avatar(activity_log).avatar(:square), :class => "thumb" %>
					
					<div class="inner-content">
						<%= render :partial => "shared/activity_log_entry", :locals => { :activity_log => activity_log } %>
					</div>
				</li>
			<% end %>
			<!-- Nebojsa-todo - button-more is static  -->
			<li class="content-box clearfix">
				<a href="#" class="button-more">
					more
				</a>
			</li>
			
		</ul>
		<%= image_tag("curve-bottom-content-box.png", :alt => "")  %>
	</div>
	<!-- /.content-box-holder  -->
	

</div>

<div id="sidebar" class="profile-holder">
	<div class="sidebar-box-holder">
		<h2>News feed</h2>
		<ul>
		  <% @event_logs.each do |event_entity| %>
			<li class="sidebar-box clearfix">
					<%= 
						 render :partial => "shared/event_log_entry", :locals => { :event_log => event_entity.event_log }
					%>
			</li>
			<% end unless @event_logs.nil? %>
			<h2>News feed histroy</h2> <!--check this of needs this -->
			<% @news_feed_cashe.each do |event_log| %>
			<li class="sidebar-box clearfix">
					<%= 
						 render :partial => "shared/event_log_entry", :locals => { :event_log => event_log }
					%>
			</li>
			<% end unless @news_feed_cashe.nil? %>
			<!-- Static news feed -->
			<li class="sidebar-box clearfix">
				
				<div class="inner-content">
          
					<p>
					  <a href="#">Gavin Maden</a> is requesting a spade
					</p>
			
					<div class="action clearfix">
						<ul>
							<li>4 days ago</li>
							<li><a href="#">view request</a></li>
							<li><a href="#">offer</a></li>
							<li><a href="#">comments(0)</a></li>
						</ul>
					</div>
				</div>
			  
			</li>
		</ul>
		<!-- / this is the static news feed	-->
		
		<a href="#" class="button-more">
			more
		</a>	
	</div>
</div><!-- sidebar -->
