<div id="content">
	<div class="content-box-holder">
		<%= image_tag("curve-top-content-box.png", :alt => "")  %>

		<% unless @active_item_requests.size.zero? %>
			<ul>
				<% @active_item_requests.each do |req| %>
					<li class="content-box clearfix">
						<%= link_to image_tag(item_request_photo(req, :size => :square), :class => "thumb"), request_path(req) %>
						<div class="inner-content">
							<p>
								<%= render :partial => "shared/item_request_sentence", :locals => { :req => req } %>
							</p>
					
							<div class="action clearfix">
								<ul>
									<li>
										<%= time_ago_in_words req.created_at %> ago
									</li>
									<%= render :partial => "shared/item_request_actions_compact", :locals => { :req => req } %>
								</ul>
							</div>
						</div>
					</li>
				<% end %>
			</ul>
		<% end %>

	<%= image_tag("curve-bottom-content-box.png", :alt => "")  %>
	</div>
	<!-- /.content-box-holder  -->

	<div class="content-box-holder">
		<%= image_tag("curve-top-content-box.png", :alt => "")  %>

		<% if @person_network_requests && !@person_network_requests.size.zero? %>
			<ul>
				<% @person_network_requests.each do |req| %>
					<li class="content-box clearfix">
						<%= image_tag(req.person.avatar(:square), :class => "thumb") %>
						<div class="inner-content">
							<p>
								<%= render :partial => "shared/person_network_request_sentence", :locals => { :req => req } %>
							</p>
					
							<div class="action clearfix">
								<ul>
									<li>
										<%= time_ago_in_words req.created_at %> ago
									</li>
									<%= render :partial => "shared/person_network_request_actions_compact", :locals => { :req => req } %>
								</ul>
							</div>
						</div>
					</li>
				<% end %>
			</ul>
		<% end %>

	<%= image_tag("curve-bottom-content-box.png", :alt => "")  %>
	</div>
	<!-- /.content-box-holder  -->

</div>