.container-fluid.clearfix.welcome-page
  .row-fluid
    .span6
      .stats-holder
        %ul
          %li
            = link_to '<span class="bold-style">1 earth</span>'.html_safe, "#"
          %li.people
            = link_to '<span class="bold-style">9999 human </span> beings connected'.html_safe, "#"
          %li.resources-shared
            = link_to '<span class="bold-style">1411 resources </span>shared'.html_safe, "#"
          %li.resources-commoned
            = link_to '<span class="bold-style">300 resources </span>commoned'.html_safe, "#"
          %li.gift
            = link_to '<span class="bold-style">400 gift </span> actions undertaken'.html_safe, "#"

  .row-fluid
    .span9
      .tag-line
        %strong
          %p
            Locate
            %span shared
            resources anywhere on          
            %span earth

  .row-fluid
    .span1
    .span6
      .button-holder-connect
        / = link_to image_tag("/static/graphics/bt-connect.png"), new_session_path, {'data-toggle' => 'modal', 'data-target' => "#myModal", 'data-backdrop' => true, 'data-keyboard' => true} 
        / %a.btn{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Launch demo modal
        %h2= link_to image_tag("/static/graphics/bt-connect.png"), new_session_path,  :interaction => "lightbox"