<ul class="list">
  <% for village in @villages %> 
	<li><%= village.name%> - <%= link_to 'Join', join_village_path(village) %></li>
  <% end -%>
</ul>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Street</th>
    <th>Postcode</th>
    <th>State</th>
    <th>Country</th>
    <th>Uid</th>
  </tr>
  <% for village in @villages %>
    <tr>
      <td><%= village.name %></td>
      <td><%= village.description %></td>
      <td><%= village.street %></td>
      <td><%= village.postcode %></td>
      <td><%= village.state %></td>
      <td><%= village.country %></td>
      <td><%= village.uid %></td>
      <td><%= link_to "Show", village %></td>
      <td><%= link_to "Edit", edit_village_path(village) %></td>
      <td><%= link_to "Destroy", village, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Village", new_village_path %></p>
