%p
	%strong
		="Name: #{@village.name}"
	%strong
		="Description: #{@village.description}"
	%strong
		="Street: #{@village.street}"
	%strong
		="Country: #{@village.state}"
	%strong
		="Uid: #{@village.uid}"