<p>
  <strong>Name:</strong>
  <%= @village.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @village.description %>
</p>
<p>
  <strong>Street:</strong>
  <%= @village.street %>
</p>
<p>
  <strong>Postcode:</strong>
  <%= @village.postcode %>
</p>
<p>
  <strong>State:</strong>
  <%= @village.state %>
</p>
<p>
  <strong>Country:</strong>
  <%= @village.country %>
</p>
<p>
  <strong>Uid:</strong>
  <%= @village.uid %>
</p>

