<style>
		.black_overlay{
		  
			display: block;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}
		.white_content {
		/* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
     
    /* css3 border radius */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    background:#eee;
			display: block;
			position: absolute;
			left: 35%;
			top: 15%;
			width: 490px;
			height: 450px;
			padding: 16px;
			border: 3px solid black;
			background-color: white;
			z-index:1002;
			overflow: auto;
		}
		
	</style>
	
	

<div id="light" class="white_content">
<div class="feedback-box" style="display='block'">
	<p>
		<!-- Please rate your experience sharing your bike with <%= link_to 'Josh', '#', :class => "positive" %> -->
		Please rate your experience sharing 
	</p>
	
	<%= form_for @feedback, :url => request_feedbacks_path(@request) do |f| %>
	  <%= render :partial => "shared/error_messages", :locals => { :model => @feedback } %>
		<ul class="feedback-buttons clearfix">
			<li class="positive">
				<%= f.radio_button :feedback, Feedback::FEEDBACK_POSITIVE, :onclick => "show_feedback(false)", :id => :positive %> <%= f.label :Positive %>
			</li>
			<li>
				<%= f.radio_button :feedback, Feedback::FEEDBACK_NEUTRAL, :onclick => "show_feedback(true)", :id => :neutral %> <%= f.label :Neutral %>
			</li>
			<li class="negative">
				<%= f.radio_button :feedback, Feedback::FEEDBACK_NEGATIVE, :onclick => "show_feedback(true)", :id => :negative %> <%= f.label :Negative %>
			</li>
		</ul>
		
		<div id="hide">
			<div class="feedback-message">
				<%= f.label :feedback_note, "What happened?" %>
				<div id="feedback_note">
					<%= f.text_area :feedback_note, :id => :note %>
				</div>
			</div>
		</div>
		
		<ul class="feedback-submit clearfix">
			<li>
				<%= f.submit :value => "Submit" %>
			</li>
			<li>
				<%= link_to 'Later', request_path(@request) %>
			</li>
		</ul>
		
		<% end %>
	
</div>



<script language="javascript">
checked_negative = false
checked_negative = document.getElementById('negative').checked || document.getElementById('neutral').checked 
checked_positive = document.getElementById('positive').checked
document.getElementById("hide").style.display = checked_negative ? "block" : "none";

function show_feedback(note)
{
 document.getElementById("hide").style.display = note ? "block" : "none";
}
</script>
</div>
<div id="fade" class="black_overlay"></div>

