<%= form_for @feedback, :url => request_feedbacks_path(@request) do |f| %>
  <%= render :partial => "shared/error_messages", :locals => { :model => @feedback } %>
  <p>
    <%= f.radio_button :feedback, Feedback::FEEDBACK_POSITIVE, :onclick => "show_feedback(false)" %> <%= f.label :Positive %>
    <%= f.radio_button :feedback, Feedback::FEEDBACK_NEUTRAL, :onclick => "show_feedback(true)" %> <%= f.label :Neutral %>
    <%= f.radio_button :feedback, Feedback::FEEDBACK_NEGATIVE, :onclick => "show_feedback(true)" %> <%= f.label :Negative %>
  </p>
  <p>
    <%= f.label :feedback_note %><br />
    <div id="feedback_note" style="display:none;"">
    <%= f.text_area :feedback_note %>
    </div>
  </p>
  <p><%= f.submit %></p><%= link_to 'Do that later', request_path(@request) %>
<% end %>
<script language="javascript">
checked_negative = document.getElementById('feedback_feedback_neutral').checked || document.getElementById('feedback_feedback_negative').checked 
document.getElementById("feedback_note").style.display = checked_negative ? "block" : "none";

function show_feedback(note)
{
 document.getElementById("feedback_note").style.display = note ? "block" : "none";
}
</script>
