<style>
		.black_overlay{
			display: block;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}
		.white_content {
			display: block;
			position: absolute;
			top: 25%;
			left: 25%;
			width: 50%;
			height: 50%;
			padding: 16px;
			border: 16px solid orange;
			background-color: white;
			z-index:1002;
			overflow: auto;
		}
	</style>

<div id="light" class="white_content">
<%= image_tag("curve-top-feedback.png", :class => "feedback-box-curves", :alt => "")  %>
<div class="feedback-box" style="display='block'">
	<p>
		Please rate your experience sharing your bike with <%= link_to 'Josh', '#', :class => "positive" %>
	</p>
	<%= form_for @feedback, :url => request_feedbacks_path(@request) do |f| %>
	  <%= render :partial => "shared/error_messages", :locals => { :model => @feedback } %>
		<ul class="feedback-buttons clearfix">
			<li class="positive">
				<%= f.radio_button :feedback, Feedback::FEEDBACK_POSITIVE, :onclick => "show_feedback(false)" %> <%= f.label :Positive %>
			</li>
			<li>
				<%= f.radio_button :feedback, Feedback::FEEDBACK_NEUTRAL, :onclick => "show_feedback(true)" %> <%= f.label :Neutral %>
			</li>
			<li class="negative">
				<%= f.radio_button :feedback, Feedback::FEEDBACK_NEGATIVE, :onclick => "show_feedback(true)" %> <%= f.label :Negative %>
			</li>
		</ul>
		
		<%= image_tag("curve-top-feedback-message.png", :class => "feedback-box-curves", :alt => "")  %>
		<div class="feedback-message">
			<%= f.label :feedback_note %>
			<div id="feedback_note">
				<%= f.text_area :feedback_note %>
			</div>
		</div>
		<%= image_tag("curve-bottom-feedback-message.png", :class => "feedback-box-curves", :alt => "")  %>
		
		<ul class="feedback-submit clearfix">
			<li>
				<%= f.submit :value => "Submit" %>
			</li>
			<li>
				<%= link_to 'Later', request_path(@request) %>
			</li>
		</ul>
		
		<% end %>
	
</div>

<%= image_tag("curve-bottom-feedback.png", :class => "feedback-box-curves", :alt => "")  %>


<script language="javascript">
checked_negative = false
checked_negative = document.getElementById('feedback_feedback_20').checked || document.getElementById('feedback_feedback_30').checked 
checked_positive = document.getElementById('feedback_feedback_10').checked
document.getElementById("feedback_note").style.display = checked_negative ? "block" : "none";

function show_feedback(note)
{
 document.getElementById("feedback_note").style.display = note ? "block" : "none";
}
</script>
</div>
<div id="fade" class="black_overlay"></div>

