<%= form_for(@item, :html => { :multipart => true }) do |f| %>
	<%= render :partial => "shared/error_messages", :locals => { :model => @item } %>



  <div class="field">
	<ul class="form-holder">
    	<li>
			<%= f.label :item_type %>
		</li>
		<li>
    		<%= f.text_field :item_type %>
		</li>


    	<li>
    		<%= f.label :name %>
		</li>
		<li>
    		<%= f.text_field :name %>
		</li>

		<li>
    		<%= f.label :Purpose %>
		</li>
		<li>
		    <% if @item.purpose_update_available? || @item.new_record? %>
    		  <%= f.radio_button :purpose, Item::PURPOSE_SHARE, :checked => @item.share? %> <%= f.label :Share %>
    		  <%= f.radio_button :purpose, Item::PURPOSE_GIFT, :checked => @item.gift? %> <%= f.label :Gift %>
    		<% else %>
	    		<%= f.radio_button :purpose, Item::PURPOSE_SHARE, :checked => @item.share?, :disabled => "disabled" %> <%= f.label :Share %>
    		  <%= f.radio_button :purpose, Item::PURPOSE_GIFT, :checked => @item.gift?, :disabled => "disabled"  %> <%= f.label :Gift %>
    		<% end %>
		</li>

    	<li>
    		<%= f.label :description %>
		</li>
		<li>
    		<%= f.text_area :description %>
		</li>
 
  <!-- <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </div>
  <div class="field">
    <%= f.label :owner_type %><br />
    <%= f.text_field :owner_type %>
  </div> -->
	<% if @item.photo? %>
	  
		<li>
   			<%= f.label :current_photo %>
		</li>
		<li>
	   		<%= image_tag @item.photo.url(:small) %>
		</li>
	
	<% end %>
		<li>
    		<%= f.label :photo %>
    		<%= f.file_field :photo %>
		</li>
		<li>
			<%= f.submit %>
		</li>
<% end %>
	</ul>
</div>
