<%= form_for(@item, :html => { :multipart => true }) do |f| %>
	<%= render :partial => "shared/error_messages", :locals => { :model => @item } %>

  <div class="field">
    <%= f.label :item_type %><br />
    <%= f.text_field :item_type %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Purpose: 
    <%= f.radio_button :purpose, Item::PURPOSE_SHARE, :checked => true %> Share
    <%= f.radio_button :purpose, Item::PURPOSE_GIFT %> Gift
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <!-- <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </div>
  <div class="field">
    <%= f.label :owner_type %><br />
    <%= f.text_field :owner_type %>
  </div> -->
	<% if @item.photo? %>
	  <div class="field">
	    <%= f.label :current_photo %><br />
	    <%= image_tag @item.photo.url(:small) %>
	  </div>
	<% end %>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
