<li class="item clearer">
		        <%= link_to image_tag(item.photo.url(:square), :class => "thumb"), item_path(item) %>
		        <div>
							<p>
  							<%= link_to item.name, item_path(item), :class => "positive" %>&nbsp;|&nbsp;
								<%= link_to item.item_type, "#" %>&nbsp;|
								<%= item.purpose? %>		
							</p>
							<ul class="action-list">
								<li class="person-name">
									<%= link_to_person(item.owner, :class => "positive capitalize") %>
								</li>
								<li>
									<%= link_to "view item", item_path(item) %>
								</li>				
								<%unless item.active_request_by?(current_user) || item.is_owner?(current_user.person)%>
								<li>
									<%= link_to "request", requests_path(:item_id => item.id), :method => :post %>
								</li>
								<% end -%>		
							</ul>
						</div>
</li>
