<!--
	Manage resources by predrag begin
-->
	
	<div id="manage-resources-page">
		<div id="sidebar-left">
			
		
			<ul>
				<li class="all">
					<a href="#">All results</a>
				</li>
				<li class="items selected">
					<a href="#">Items</a>
				</li>
				<li class="people">
					<a href="#">Skils</a>
				</li>
			</ul>
		
		</div><!--	/sidebar-left	-->
	
		<div id="content">
		
			<div class="content-box-holder no-bg">
			
				<h2>Manage Resources</h2>
				
				<ul class="action-buttons-list clearfix">
					<li>
						<%= link_to '+ Item', new_item_path, :class => "positive" %>
					</li>
				</ul>
				
				<div class="items-list clearfix">
					<h3 class="default-title">Items</h3>
					
					<ul class="clearfix">
						<% @items.each do |item| %>
						<li class="item clearer">
							<a href="/items/<%= item.id %>">
								<%= image_tag item.photo.url(:square), :class => "thumb" %>
							</a>
					        <div>
								<p>
		  							<%= link_to item.name, item_path(item), :class => 'positive'  %>&nbsp;|&nbsp;
									<a href="#"><%= item.item_type %></a>&nbsp;|
									<%= item.purpose? %>		
								</p>
								<ul class="action-list">
									<li>
										<%= link_to 'show', item %></a>
									</li>
									<% if item.normal? %>
								    	<li><%= link_to 'edit', edit_item_path(item) %></li>
								    <% end %>
									<% if item.available? -%>
									<li>
										<%= link_to 'Delete', item, :confirm => 'Are you sure?', :method => :delete %>
									</li>
									<% end -%>
								</ul>
							</div>
						</li>
						<% end if !@items.nil?%>
					</ul>
					
					
				</div><!-- /items-list -->
		
			</div><!-- /content-box-holder  -->
		
		</div><!--	/content -->
		
	</div><!--	/manage-resources-page-->

<!--
	Manage resources by predrag end
-->

<!--
	
	Removed by Predrag

<h1>Listing items</h1>

<table>
  <tr>
		<th>Photo</th>
    <th>Type</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
		<td><%= image_tag item.photo.url(:small) %></td>
    <td><%= item.item_type %></td>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= link_to 'Show', item %></td>
    <% if item.normal? %>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <% end %>
    <% if item.available? -%>
    <td><%= link_to 'Delete', item, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end -%>
  </tr>
<% end if !@items.nil?%>
</table>

<br />

<%= link_to 'New Item', new_item_path %>

-->
