<h1>Listing items</h1>

<table>
  <tr>
		<th>Photo</th>
    <th>Type</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
		<td><%= image_tag item.photo.url(:small) %></td>
    <td><%= item.item_type %></td>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= link_to 'Show', item %></td>
    <% if item.normal? %>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <% end %>
    <td><%= link_to 'Delete', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
