<h1>Item: <%= @item.name %></h1>

<p>
  <b>Type:</b>
  <%= @item.item_type %>
</p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
	<%= image_tag @item.photo.url(:medium) %>
</p>

<% owner_only(@item) do %>
	<%= link_to 'Edit', edit_item_path(@item) %> |
	<%= link_to 'Back', items_path %>
<% end %>