<div id="items-page">
	<div id="content">
		
		<div class="content-box-holder no-bg">
			<ul>
				<li class="content-box clearfix">
					<%= image_tag @item.photo.url(:medium), :class => "thumb" %>
					<div class="inner-content">
						<h2>
							<%= auto_link(h(@item.name)).html_safe %>
							<br />
							<span class="item-type">
								<%= @item.item_type  %>
							</span>
							&nbsp;&nbsp;&nbsp;
							<span class="item-purpose<%= (@item.gift? ? " gift-item" : "") %>">
								<%= @item.purpose? %>
							</span>
						</h2>
					
						<p class="description">
							<span class="description">
								<%= auto_link(h(@item.description)).html_safe %>
							</span>
							<span>
                      <% unless @item.deleted? %>
								<div class="request-button-holder">
							   		<%= link_to "Request this item", requests_path(:item_id => @item.id), :method => :post unless @item.is_owner?(current_user.person) %>
								</div>
                        <% end %>
							</span>
						</p>
						<%= owner_only(@item) do %>
                    <% unless @item.deleted? %>
							<ul class="action-buttons-list clearfix">
								<% if @item.normal? %>
									<li><%= link_to 'Edit', edit_item_path(@item) %></li>
									<li><%= link_to 'Lost', mark_as_lost_item_path(@item), :method => :put %></li>
									<li><%= link_to 'Damaged', mark_as_damaged_item_path(@item), :method => :put %></li>
								<% elsif @item.lost? %>
									<li><%= link_to 'Found', mark_as_normal_item_path(@item), :method => :put %></li>
								<% elsif @item.damaged? %>
									<li><%= link_to 'Repaired', mark_as_normal_item_path(@item), :method => :put %></li>
								<% end %>
						    <% if @item.available? -%>
		  				    	<li class="plain-link">
									<%= link_to 'delete', @item, :confirm => 'Are you sure?', :method => :delete %>
								</li>
						    <% end -%>  						
							</ul>
                     <% end %>
						<% end %>
					</div>
				</li>
			
				
			</ul>
		</div>

	</div><!-- /content -->

	<div id="sidebar">
		<%= render :partial => "shared/trust_profile", :locals => { :person => @item.owner, :name => true } %>
		<%= render :partial => "shared/latest_activity_item", :locals => { :item =>  @item } %>
	</div><!-- /sidebar -->
	
</div><!-- /items-page -->



