<!DOCTYPE html>
<html>
<head>
  <title>sharedearth.net</title>
  <%= render :partial => "layouts/meta_header" %>
</head>
<body>

	<div id="container">
		<div id="header">

			<div class="header-lhs">
				<%= link_to "sharedearth.net", dashboard_path, :title => "sharedearth.net - trust. share. connect." %>
			</div>

			<div class="header-rhs">

				<div class="clearfix">

					<div class="status-holder">
						<ul>
							<li class="feedback-rating">
							  <% feedback_rating = current_user.person.reputation_rating.feedback_rating? if !current_user.nil?%>
								<%= link_to !current_user.nil? ? (feedback_rating.nil? ? "n/a" : (feedback_rating.to_s) + "%") : "0%", "#", :title => "Positive Feedback Rating" %>
							</li>
							<li class="people-helped">
								<%= link_to !current_user.nil? ? current_user.person.reputation_rating.distinct_people_count.to_s : "0", "#", :title => "People Helped" %>
							</li>
							<li class="giftactions">
								<%= link_to !current_user.nil? ? current_user.person.reputation_rating.gift_actions_count.to_s : "0", "#", :title => "Gift Actions" %>
							</li>
							<li class="giftact-rating">
							  <%= link_to !current_user.nil? ? current_user.person.mutural_friends_count(current_user.person) : "0", "#", :title => "Number of people in your trusted network" %>
							</li>
							<li class="activity-level">
							<% if !current_user.nil? -%>
							  <% current_user.person.reputation_rating.activity_level? %>
							<% end -%>		  
								<%= link_to !current_user.nil? ? current_user.person.reputation_rating.activity_level_count.to_s : "0", "#", :title => "Activity Level" %>
							</li>
						</ul>
					</div>
					<div class="logo-type-holder">
						<%= link_to "sharedearth.net", root_path, :title => "sharedearth.net - trust. share. connect." %>
					</div>

				</div>

				<div class="bar-holder">


					<div class="bar-holder-rhs">
						<ul>
							<li>
								<% if current_user %>
								  	<%= link_to "disconnect", signout_path %>
								<% end %>
							</li>
							<li>
								<% if current_user %>
									<%= link_to current_user.person.name, person_path(current_user.person) %>
								<% else %>
									<%= link_to "Sign in with Facebook", '/auth/facebook' %>
								<% end %>
							</li>

						</ul>
					</div>

					<div class="search-holder clearfix">
					  <%= form_tag search_index_path, :method => 'get' do %>
					<div class="search-bg-holder-first clearfix">
              			<div class="search-bg-holder-second clearfix">
	                		<%= text_field_tag :search, params[:search] %>
	                		<button type="submit" title="Search">Search</button>
	              		</div>
					</div>
            <% end %>
					</div>

					<div class="bar-holder-home">
						<ul>				
	                        <li>
								<% if current_user %>
							      <%= link_to image_tag("home.png"), dashboard_path, :title => "home" %>
								<% end %>
							</li>
	                    </ul>
					</div>

					<div class="bar-holder-lhs">
						<ul>
							<li>
								<%= link_to "share", new_item_path %>
							</li>
							<li>
								<%= link_to "manage", items_path %>
							</li>
							<li class="last">
								<%= link_to "view network", my_network_person_path(current_user.person) unless current_user.nil?%>
							</li>
						</ul>
					</div>

				</div>

			</div>

		</div>
		<!-- #header -->


<% flash.each do |name, msg| %>
	<%
		# this will output all set flash messages and it will give each appropriate id
		# possible values include: flash-notice and flash-alert
		# (CSS rules also allow flash-info - which is not used at the moment)
	%>
	<%= content_tag :div, msg, :class => "message-holder flash-#{name}" %>
<% end %>

<div id="wrapper" class="clearfix">
	
	<%= yield %>

</div>

<div id="footer" class="clearfix">
	<ul>
		<li>
			<%= link_to "Home", dashboard_path %>&nbsp;|&nbsp;
		</li>
		<li>
			<%= link_to "Help" %>&nbsp;|&nbsp;
		</li>
		<li>
			<%= link_to "Contact" %>&nbsp;|&nbsp;
		</li>
		<li>
			<%= link_to "Privacy" %>&nbsp;|&nbsp;
		</li>
		<li>
			<%= link_to "Terms of Use" %>
		</li>
	</ul>
	
</div>
<!-- #footer -->

</div>
<!-- #container -->

</body>
</html>
