<!DOCTYPE html>
<html>
<head>
  <title>sharedearth.net</title>
  <%= render :partial => "layouts/meta_header" %>
</head>
<script type="text/javascript">
function settingPopup(){
	$(".setting_popup").css("display","block");
}

$("html").click(function (e)
{
var $event = $(e.target);
var  x = $event.parents('div').attr('class');

    if ((x == "settingOuter")){
       $(".setting_popup").css("display","block");
	}
    else
	{
		$(".setting_popup").css("display","none");
	}
}); 

</script>
<!--[if IE 7]>
  <style>
	.Bordernone {
		height: 15px;
	}
	.setting_popup ul li a {
		padding-top:10px!important
	}
  </style>
 <![endif]-->
 <!--[if IE 9]>
  <style>
	.setting_popup ul li a {
	padding-top:8px!important
	}
  </style>
 <![endif]-->
  <!--[if IE 8]>
  <style>
	.setting_popup ul li a {
	padding-top:8px!important
	}
  </style>
 <![endif]-->


<body>
<!-- #header -->
<%if current_user %>
<header>
  <div class="header">
     <div class="wid1000 ht140">
        <div class="head_left fl">
             <%=link_to image_tag("community_icon.png"),"/dashboard",:class=>"fl community_icon" %>
             <span class="count">3</span>
             <%=image_tag "line.png",:class=>"fl separation" %>
             <%=link_to "Community","/network",:class=>"fl community_txt"%>
        </div>
        <div class="fl counter_container">
           <div class="fl icon_box mT10">
                <%=link_to network_person_path(current_user.person),:title => "Number of people in your trusted network" do %>
                   <span><%=current_user.person.trusted_network_size%></span>
                   <%=image_tag "first_menu.png"%>
                <%end%>
            </div>
            <div class="fl icon_box mT10">
                <%=link_to "#",:title => "Gift Actions" do %>
                   <span><%=current_user.person.reputation_rating.gift_actions_count.to_s%></span>
                   <%=image_tag "gift.png"%>
                <%end%>	
            </div>
            <div class="fl icon_box mrT2">
                <%=link_to "#" do %>	
                    <span><%=current_user.person.share_item%></span>
                    <%=image_tag "leaf.png"%>
                <%end%>	
            </div>
            <div class="fl icon_box mT10">
                <%=link_to "#" do %>	
                   <span>0</span>
                   <%=image_tag "da_vinci.png"%>
                <%end%>
            </div>
            <div class="fl icon_box mT10">
               <%=link_to "#",:title => "Positive Feedback Rating" do %>	
                   <% feedback_rating = current_user.person.reputation_rating.feedback_rating? if !current_user.nil?%>
                   <span><%=feedback_rating.nil? ? "n/a" : (feedback_rating.to_s)%></span>
                   <%=image_tag "feedback_icon.png" %>
                <%end%>	
            </div>
        </div>
        <div class="fr header_right">
            <div class="fl mtR">
                 <%=link_to current_user.person.name,person_path(current_user.person)%>
                 <div class="settingOuter"><%=link_to "","#",:id=>"settings",:onClick=>"settingPopup();"%></div>
            </div>
            <%= link_to (image_tag current_user.person.avatar(:small)),person_path(current_user.person), :class => "fl", :alt => current_user.person.name %>
        </div>
        <div class="clear"></div>
				<div class="fl logo">
					<%=link_to image_tag("logo.png")%>
				</div>
				<div class="connect_section fr">
					<%=link_to "",new_item_path,:class=>"fl connect_buttons share_button" %>
					<%=link_to "","#",:class=>"fl connect_buttons ask_button"%>
					<%=link_to "",new_session_path,:title => "Sign in or register", :interaction => "lightbox",:class=>"fl connect_buttons connect_button"%>
					<div class="fl">
						<%= form_tag search_index_path, :method => 'get' do%>
						<div class="fl page_searchbox">
							<%=text_field_tag :search, "Search"%>
						</div>
						<%=button_tag "",:class=>"fl search_icon mt11"%>
						<%end%>
					</div>
				</div>
        <div class="setting_popup">
        	        <div class="dropDown_top">Setting</div>
					<ul class="setting_popup_list">
						<li class="edit_pro"><%=link_to "Edit Profile",edit_person_path(current_user.person)%></li>
						<li class="disconnect"><%=link_to "Disconnect",signout_path%></li>
					</ul>
					<div class="dropDown_bottom"></div>
				</div>
        <div class="clear"></div>
    </div>
  </div>
</header>
<%end%>
<!-- #header -->

<div id="container">

    
<div id="wrapper" class="clearfix" <%= yield(:hide_on_policy_top_margin)%>>

<%= yield %>

</div>
<!-- #footer -->
<footer>
   <%= render "shared/footer" %>	
</footer>
<!-- #footer -->

</div>
<!-- #container -->

<%= render "shared/notification" %>

<%= render "shared/loading" %>
<%== render "shared/lightbox" %>
</body>
</html>