<!DOCTYPE html>
<html>
<head>
  <title>sharedearth.net</title>
  <%= render :partial => "layouts/meta_header" %>
    <script type="text/javascript">
function settingPopup(){
  $(".setting_popup").css("display","block");
}
</script>
</head>

<body>
  <wrapper>
  <%if current_user %>
    
	<header>
		<div class="header">
			<div class="wid1000">
				<div class="head_left fl">
					<%=link_to "","/dashboard",:class=>"fl community_icon" %>
					<span class="count">3</span>
					<%=image_tag "line.png",:class=>"fl separation" %>
					<%=link_to "Community","/network",:class=>"fl community_txt"%>
				</div>
				<div class="fl counter_container">
					<div class="fl icon_box mT10">
						<span><%=current_user.person.trusted_network_size%></span>
						<%=link_to (image_tag "first_menu.png"),network_person_path(current_user.person), :title => "Number of people in your trusted network" %>
					</div>
					<div class="fl icon_box mT10">
						<span><%=current_user.person.reputation_rating.gift_actions_count.to_s%></span>
						<%=image_tag "gift.png",:title => "Gift Actions"%>
					</div>
					<div class="fl icon_box mrT2">
						<span><%=current_user.person.share_item%></span>
						<%=image_tag "leaf.png",:class=>"pdL11"%>
					</div>
					<div class="fl icon_box mT10">
						<span>20</span>
						<%=image_tag "da_vinci.png"%>
					</div>
					<div class="fl icon_box mT10">
						<% feedback_rating = current_user.person.reputation_rating.feedback_rating? if !current_user.nil?%>
						<span><%=feedback_rating.nil? ? "n/a" : (feedback_rating.to_s)%></span>
						<%=image_tag "feedback_icon.png",:class=>"pdL7",:title => "Positive Feedback Rating" %>
					</div>
				</div>
				
				<div class="fr header_right">
					<div class="fl mtR">
					    <%=link_to current_user.person.name,person_path(current_user.person)%>
						<a id="settings" onClick="settingPopup();" href="#"></a>
					</div>
					<%= link_to (image_tag current_user.person.avatar(:small)),person_path(current_user.person), :class => "fl", :alt => current_user.person.name %>
					
				</div>
				<div class="clear"></div>
				<div class="setting_popup">
					<ul>
						<li class="setting"><a href="#">Settings</a></li>
						<li class="edit_pro"><%=link_to "Edit profile",edit_person_path(current_user.person)%></li>
						<li class="disconnect"><%=link_to "Disconnect",signout_path%></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

		<!-- #header -->
<%end%>

<section>
	
	<%= yield %>

</section>

<footer>
 <%= render "shared/footer" %>	
	
</footer>
<!-- #footer -->

</div>
<!-- #container -->

<%= render "shared/notification" %>

<%= render "shared/loading" %>
</wrapper>
</body>
</html>
