<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>sharedearth.net - trust. share. connect.</title>
	
	<link rel="stylesheet" href="/static/css/reset-min.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />

	<!--[if lte IE 6]><link type="text/css" rel="stylesheet" href="static/css/ie.css" media="screen" /><![endif]-->
	<!--[if IE 7]><link type="text/css" rel="stylesheet" href="static/css/ie7.css" media="screen" /><![endif]-->

	<script src="/static/js/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/script.js" type="text/javascript" charset="utf-8"></script>
	<%= favicon_link_tag '/favicon.ico' %>
	
</head>
<body>

	<div id="container" class="invitation-page">

		<div class="logo-holder">
		
			<h1 title="sharedearth.net - from ego to wego">
				sharedearth.net - from ego to wego
			</h1>
		</div>

		<div id="content" class="clearfix" style="width: 392px">
			
			<h2>Welcome</h2>
		
			<p>	
				sharedearth.net is now in private beta
			</p>
		
		<%#= link_to 'put req.', give_requested_invitations_path, :method => :put, :class => 'positive' %>
		<%#= link_to 'Connect', accept_pp_terms_path, :method => 'put', :class => 'positive' %>
			<% flash.each do |name, msg| %>
			  <%= content_tag :div, msg, :class => "message-holder flash-#{name}" %>
			<% end %>
			<div class="form-holder">
				<%= form_tag invitations_validate_path, :method => 'get' do %>
				<%= label_tag 'Enter your invitation code to continue' %>
				<%= text_field_tag :key, params[:key] %>

				<div class="clearfix">
					
			

					<div class="button-holder-submit">
						<h2>
							<%= submit_tag 'Submit' %>
						</h2>
					</div>
					
				<% end %>
						
					<div class="button-holder-request">
						<%= button_to "request invitation", RequestedInvitation.new , :method => :post, :title => "request invitation", :id => "request invitation" %>	 
					</div>
						
						 
					<p>
						<%= link_to 'remove account', invitations_purge_path %> or <%= link_to 'disconnect', signout_path %>
					</p>
				</div>
				 
			</div>
			
		</div>
		<!-- /content -->
		<div id="footer" style="clear: both; height: 80px">
			<p>
				<a href="/about">About</a>&nbsp;&nbsp;   <a href="/terms/principles">Principles</a>&nbsp;&nbsp;   <a href="/transparency">Transparency</a>&nbsp;&nbsp;   <a href="/contribute">Contribute</a>&nbsp;&nbsp;   <a href="mailto:info@sharedearth.net">Contact</a>&nbsp;&nbsp;    <a href="/terms">Terms</a>
			</p>
		</div>
	</div>
	<!-- #container -->

</body>
</html>
