<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>sharedearth.net - trust. share. connect.</title>
	
	<link rel="stylesheet" href="static/css/reset-min.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	<link rel="stylesheet" href="static/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />

	<!--[if lte IE 6]><link type="text/css" rel="stylesheet" href="static/css/ie.css" media="screen" /><![endif]-->
	<!--[if IE 7]><link type="text/css" rel="stylesheet" href="static/css/ie7.css" media="screen" /><![endif]-->

	<script src="static/js/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/script.js" type="text/javascript" charset="utf-8"></script>
	<%= favicon_link_tag 'favicon.ico' %>
	
</head>
<body>

	<div id="container">

		<h1 title="sharedearth.net - from ego to wego">
			sharedearth.net - from ego to wego
		</h1>

		<div id="content" class="clearfix">
				<% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, :class => "message-holder flash-#{name}" %>
        <% end %>
        <h2>Beta testing</h2><%= button_to 'Disconnect', signout_path %><br />
        Please enter your invitation code to continue, or request an invitation<br />
                  
              <%= form_tag validate_invitations_path, :method => 'put' do %>
	              <p>
                  <%= label_tag 'Enter your invitation code' %>
                  <%= text_field_tag :key, params[:key] %>
                    <%= submit_tag 'Submit' %>
                </p>
              <% end %>
              <%= button_to 'Request invitation', reguested_invitations_create_path, :method => 'get' %>
              
			</div>

		</div>


		<div id="footer">
			<p>
				<a href="#">About</a> | <a href="#">Contact</a> | <a href="#">Legal &amp; Privacy</a>
			</p>
		</div>

	</div>
	<!-- #container -->

</body>
</html>
