<!DOCTYPE html>
<html>
<head>
  <title>sharedearth.net</title>
  <%= render :partial => "layouts/meta_header" %>
</head>
<body>

	<div id="container">
<%if !current_user.nil?%>
<div id="header">

			<div class="header-lhs">
				<%= link_to "sharedearth.net", dashboard_path, :title => "sharedearth.net - trust. share. connect." %>
			</div>

			<div class="header-rhs">

				<div class="clearfix">

					<div class="status-holder">
						<ul>
							
						</ul>
					</div>
					<div class="logo-type-holder">
						<%= link_to "sharedearth.net", root_path, :title => "sharedearth.net - trust. share. connect." %>
					</div>

				</div>

				<div class="bar-holder">


					<div class="bar-holder-rhs">
						<ul>
							<li>
							</li>

						</ul>
					</div>

					<div class="bar-holder-home">
						<ul>				
	                        <li>
                                &nbsp;
							</li>
	                    </ul>
					</div>

					<div class="bar-holder-lhs">
						<ul>
                            <li>
                              <a href="/">back</a>
                            </li>
                            <li>
                              <a href="/about">About</a>
                            </li>
                            <li>
                              <a href="/terms/principles">Principles</a>
                            </li>
                            <li>
                              <a href="/transparency">Transparency</a>
                            </li>
                            <li>
                              <a href="/contribute">Contribute</a>
                            </li>
                            <li>
                              <a href="mailto:info@sharedearth.net">Contact</a>
                            </li>
                            <li class="last">
                              <a href="/terms">Terms</a>
                            </li>
						</ul>
					</div>

				</div>

			</div>

		</div>
		<!-- #header -->
<%else%>
   <header>
      <div class="header" style="background:none !important;">
        <div class="wid1000 ht63">
                <div class="fl logo">
					<%=link_to image_tag("logo.png")%>
				</div>
				<div class="connect_section fr">
		          <%=link_to "",new_session_path,:title => "Sign in or register", :interaction => "lightbox",:class=>"fl connect_buttons connect_button"%>
				</div>      
		</div>
	  </div>
	</header>  			
<%end%>
<div id="wrapper" class="clearfix">
	
	<%= yield %>

</div>

<footer>
 <%= render "shared/footer" %>	
	
</footer>
<!-- #footer -->

</div>
<!-- #container -->
<%= render "shared/lightbox" %>
</body>
</html>
