!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title sharedearth.net - trust. share. connect.
    = stylesheet_link_tag :welcome_layout
    = favicon_link_tag 'favicon.ico'
    = #stylesheet_link_tag "/static/css/reset-min.css", "/static/css/main.css", "/static/css/fonts.css"
    /[if lte IE 6]
      = stylesheet_link_tag "/static/css/ie.css"
    /[if IE 7]
      = stylesheet_link_tag "/static/css/ie7.css"

    = javascript_include_tag :'jquery.min', :jquery_ujs, :lightbox
    = csrf_meta_tags

    :javascript
      $(document).ready(function() {
        $("a#no_facebook").click(function(){
          var width = 400;
          var height = 230;
          var left = 400, top = 300;
          left = ( screen.width / 2) - ( width / 2 );
          top = ( screen.height / 2 ) - ( height / 2 );
          page = window.open('/collect_email', 'page', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=' + width + ',height=' + height + ',left = ' + left + ',top = ' + top + '');
          event.preventDefault();
        });
      });
    

  %body
    = render "shared/header"
    #content
      = yield(:no_js_msg).empty? ? yield : yield(:no_js_msg)
      = render "shared/side_menu"
    = render "shared/footer"
    = render "shared/lightbox"